@FIELDMAP
PRINTL ■■■■■■■■■■■■■
PRINT ■■┌
CALL MAPPOINT("獄",67)
PRINT ─
CALL MAPPOINT("彼",64)
PRINT 　
CALL MAPPOINT("月",102)
PRINT ─
CALL MAPBUTTON("槐",10)
PRINTL 　■■
PRINT ■　
CALL MAPPOINT("畜",68)
PRINT 　
CALL MAPPOINT("幽",66)
PRINT ┴
CALL MAPBUTTON("川",6)
PRINT ─┐└
CALL MAPBUTTON("守",8)
PRINTL ┐■
PRINT ■　　　　　│　├
CALL MAPBUTTON("山",7)
PRINT ┤
CALL MAPPOINT("天",89)
PRINTL ■
PRINT ■　　
CALL MAPPOINT("無",57)
PRINT ┐　│　│：
CALL MAPPOINT("猫",74)
PRINTL 　■
PRINT ■　　　└─
CALL MAPBUTTON("森",5)
PRINTL ┌┘：　　■
PRINT ■　　　　　││
CALL MAPPOINT("邸",33)
PRINTL ：　　■
PRINT ■　　　　　├┴
CALL MAPBUTTON("湖",3)
PRINT ÷
CALL MAPPOINT("紅",34)
PRINTL 　■
PRINT ■　
CALL MAPPOINT("永",45)
PRINT ┬
CALL MAPBUTTON("竹",4)
PRINTL ┐│　　：　　■
PRINT ■　　│　├
CALL MAPBUTTON("里",2)
PRINT 　　
CALL MAPBUTTON("地",9)
PRINTL 　　■
PRINT ■　
CALL MAPPOINT("太",47)
PRINT ┘　
CALL MAPBUTTON("寺",1)
PRINT └──┴
CALL MAPBUTTON("博",0)
PRINTL 　■
PRINTL ■■　　　　　　　　　■■
PRINTL ■■■■■■■■■■■■■


@MAPBUTTON(ARGS,ARG)
SETCOLOR MAPBUTTON_COLOR(ARG)
PRINTBUTTON ARGS,ARG
RESETCOLOR


@MAPBUTTON_HTML_F(ARGS,ARG)
#FUNCTIONS
RETURNF @"<font color = '%"#" + TOSTR(MAPBUTTON_COLOR(ARG), "X6")%'>" + @"<button value = '{ARG}'>" + HTML_ESCAPE(ARGS) + "</button>" + "</font>" 

@MAPBUTTON_COLOR(ARG)
#FUNCTION
SETCOLOR C_P_BLUE
SELECTCASE ARG
	CASE MAIN_MAP
		SIF !CHK_DATENOW(CFLAG:MASTER:デート中)
			RETURNF 0x00ff00
	CASE 0
		SIF CFLAG:MASTER:デート中 == ARG
			RETURNF 0x00ff00
	CASE 1
		SIF CFLAG:MASTER:デート中 == ARG
			RETURNF 0x00ff00
	CASE 2
		SIF CFLAG:MASTER:デート中 == ARG
			RETURNF 0x00ff00
	CASE 3
		SIF CFLAG:MASTER:現在位置 == 霧の湖 || CFLAG:MASTER:現在位置 == 氷のかまくら
			RETURNF 0x00ff00
	CASE 4
		SIF CFLAG:MASTER:現在位置 >= 竹林入り口 && CFLAG:MASTER:現在位置 <= 兎の洞穴
			RETURNF 0x00ff00
	CASE 5
		SIF CFLAG:MASTER:現在位置 >= 森の入り口 && CFLAG:MASTER:現在位置 <= 再思の道
			RETURNF 0x00ff00
	CASE 6
		SIF CFLAG:MASTER:現在位置 >= 中有の道 && CFLAG:MASTER:現在位置 <= 三途の川
			RETURNF 0x00ff00
	CASE 7
		;SIF CFLAG:MASTER:デート中 == ARG && CFLAG:MASTER:現在位置 != マヨヒガ
		;	RETURNF 0x00ff00
	CASE 8
		SIF CFLAG:MASTER:デート中 == ARG && CFLAG:MASTER:現在位置 != 天界
			RETURNF 0x00ff00
	CASE 9
		SIF CFLAG:MASTER:デート中 == ARG
			RETURNF 0x00ff00
	CASE 10
		SIF CFLAG:MASTER:現在位置 == 槐安通路
			RETURNF 0x00ff00
ENDSELECT
RETURNF C_P_BLUE

@MAPPOINT(ARGS,ARG)
SELECTCASE ARG
	CASE 33
		SIF CFLAG:MASTER:現在位置 == 廃洋館
			SETCOLOR 0 , 255, 0
		PRINT 邸
	CASE 34
		SIF CFLAG:MASTER:現在位置 >= 正門 && CFLAG:MASTER:現在位置 <= 地下室
			SETCOLOR 0 , 255, 0
		PRINT 紅
	CASE 45
		SIF CFLAG:MASTER:現在位置 == 永遠亭
			SETCOLOR 0 , 255, 0
		PRINT 永
	CASE 47
		SIF CFLAG:MASTER:現在位置 == 無名の丘 || CFLAG:MASTER:現在位置 == 太陽の畑
			SETCOLOR 0 , 255, 0
		PRINT 太
	CASE 57
		SIF CFLAG:MASTER:現在位置 == 無縁塚
			SETCOLOR 0 , 255, 0
		PRINT 無
	CASE 64
		SIF CFLAG:MASTER:現在位置 == 彼岸
			SETCOLOR 0 , 255, 0
		PRINT 彼
	CASE 66
		SIF CFLAG:MASTER:現在位置 == 白玉楼庭 || CFLAG:MASTER:現在位置 == 白玉楼
			SETCOLOR 0 , 255, 0
		PRINT 幽
	CASE 67
		SIF CFLAG:MASTER:現在位置 == 地獄
			SETCOLOR 0 , 255, 0
		PRINT 獄
	CASE 68
		SIF CFLAG:MASTER:現在位置 == 畜生界 || CFLAG:MASTER:現在位置 == 霊長園
			SETCOLOR 0 , 255, 0
		PRINT 畜
	CASE 74
		;SIF CFLAG:MASTER:現在位置 == マヨヒガ
		;	SETCOLOR 0 , 255, 0
		PRINT 猫
	CASE 89
		SIF CFLAG:MASTER:現在位置 == 天界
			SETCOLOR 0 , 255, 0
		PRINT 天
	CASE 102
		SIF CFLAG:MASTER:現在位置 >= 月の都 && CFLAG:MASTER:現在位置 <= 静かの海
			SETCOLOR 0 , 255, 0
		PRINT 月
ENDSELECT 
;PRINTBUTTON ARGS,(ARG / 10)
RESETCOLOR