@SetMaxLevel
#FUNCTION
IF GETBIT(NASFeature,0)
	MaxNonHLevel = universalRank("QuadUltra")
ELSE
	MaxNonHLevel = universalRank("Extra")
ENDIF


@YesOrNo(ARG)
#FUNCTIONS
IF ARG
	RETURNF "네"
ELSE
	RETURNF "아니오"
ENDIF

;-------------------------------
;Custom fetishes section
;-------------------------------

;mod options but for fetishes
@OPTION_MOD_FETISH
#DIM nLineCnt_Head
LOADGLOBAL
FOR LOCAL, 0, 100
PRINTL
NEXT
CUSTOMDRAWLINE ＊
PRINTFORML Fetish Options
CUSTOMDRAWLINE ＊
SETCOLOR C_RED
PRINTFORML These options are global and affect every save.
RESETCOLOR
PRINTFORML
nLineCnt_Head = LINECOUNT
CALLF SetMaxLevel
SIF !DAY
CALL ADD_ALL_CHARACTERS()
REDRAW 0
DO
	SIF LINECOUNT - nLineCnt_Head > 0
		CLEARLINE LINECOUNT - nLineCnt_Head

	CALL CUSTOM_FETISH_STATE
	SELECTCASE RESULT
		CASE 0
			IF !DAY
			DELALLCHARA
			ENDIF
			inCharaCreator = 0
			SAVEGLOBAL
			RETURN
	CASEELSE
	ENDSELECT
LOOP 1


@PRINT_CUSTOM_FETISH(ARG, ARGS, ARGS:1, ARGS:2)
IF ARGS != "" || ARGS:1 != ""
	SELECTCASE ARGS:1
	CASE "Scatology"
		IF GROUPMATCH(nSJW, 1, 5)
		GOTO FetishDisabled
		ELSEIF GROUPMATCH(nSJW, 1, 3, 4, 5)
		PRINTFORML
		SETCOLOR C_YELLOW
		PRINTFORML %ARGS:1%
		PRINTFORML Restricted to softcore play (ie: messings)
		PRINTFORML
		RESETCOLOR		
		GOTO BYPASS
		ENDIF
	CASE "Necrophilia"
		IF GROUPMATCH(nSJW, 1, 3, 4, 5)
		$FetishDisabled
		[SKIPSTART]
		PRINTFORML
		SETCOLOR C_YELLOW
		PRINTFORML %TOUPPER(ARGS:1)% DISABLED DUE TO STATE COMPLIENCE MODE
		[SKIPEND]
		PRINTFORML
		RESETCOLOR
		RETURN
		ENDIF
	CASE "Adult Baby, Diaper Lover"
		IF GROUPMATCH(nSJW, 1, 5)
			GOTO FetishDisabled
		ENDIF	
	CASE "General Sexual Content", "Urine", "Ryona", "Factions"
		IF GROUPMATCH(nSJW, 5)
			GOTO FetishDisabled
		ENDIF
	CASE "Rape"
		IF GROUPMATCH(nSJW, 4, 5)
			GOTO FetishDisabled
		ENDIF
	
	ENDSELECT

	IF ARGS:1 != ""
		PRINTFORML
		SETCOLOR C_YELLOW
		PRINTFORML %ARGS:1%
		PRINTFORML
		RESETCOLOR
		; CALL COLUMNDIVPRINTL, 0, @"%ARGS:1%"
		; CALL COLUMNDIVPRINTL, 0, @""
	ENDIF 
	$BYPASS
	;CALL COLUMNDIVPRINTL, 0, @"[{ARG}] - %ARGS%"
	SIF ARGS != ""
	PRINTFORML [{ARG}] - %ARGS%
	IF ARGS:2 != ""
		;CALL COLUMNDIVPRINTL, 0, @"     %ARGS:2%"
		SETCOLOR C_GRAY
		PRINTFORML %ARGS:2%
		RESETCOLOR
	ENDIF 
ENDIF

@CUSTOM_FETISH_STATE(C_ID,OP)
#DIMS    OP         ;実行オプション
#DIM     C_ID       ;登録番号
#DIM     PAGE       ;表示中のページ
#DIMS CONST DISP_NAME = "General", "Excretion", "Physical Harm", "Non-consent", "Pregnancy", "Additions", "Vanilla", "Other", "Debug"
#DIM CREDRAW
#DIM FIRST_LINE
FIRST_LINE = LINECOUNT
$REPRINT
CLEARLINE LINECOUNT - FIRST_LINE
CREDRAW = CURRENTREDRAW()
REDRAW 0
;TRYCALLFORM CUSTOM_FETISH_PAGE_{PAGE}
FOR LOCAL, 0, 1200
	CFM_STR:0 '= CUSTOM_FETISH_NAME(PAGE,LOCAL,"name")
	CFM_STR:1 '= CUSTOM_FETISH_NAME(PAGE,LOCAL,"header")
	CFM_STR:2 '= CUSTOM_FETISH_NAME(PAGE,LOCAL,"description")
	CFM_STR:3 '= CUSTOM_FETISH_NAME(PAGE,LOCAL,"enabled")
	CFM_STR:4 '= @"%CFM_STR:0%%COND_STR("： ",CFM_STR:0 != "" && CFM_STR:3 != "")%%CFM_STR:3%"
	TRYCCALLFORM CUSTOM_FETISH_{PAGE}_{LOCAL}
	CATCH
	CALL PRINT_CUSTOM_FETISH(LOCAL, CFM_STR:4, CFM_STR:1, CFM_STR:2)
	ENDCATCH
NEXT
DRAWLINE
FOR LOCAL, 0, VARSIZE("DISP_NAME")
	[IF_NDEBUG]
	SIF LOCAL == VARSIZE("DISP_NAME")
		CONTINUE
	[ENDIF]
	SIF PAGE == LOCAL
		SETCOLOR 0x00FFFF
	;exception for player character
	PRINTBUTTON DISP_NAME:LOCAL, LOCAL + 2
	RESETCOLOR
	PRINTFORM 　　
NEXT
PRINTFORML 
PRINTBUTTON "[0] Return", 0
PRINTBUTTON " [-1] Presets ", -1
DO
	INPUT
	SELECTCASE RESULT
	CASE 0
		RETURN 0
	CASE -1
		CALL CUSTOM_FETISH_PRESETS
	CASE 2 TO VARSIZE("DISP_NAME")+2
		PAGE = RESULT-2
	CASE 9997 ;custom code
	CASE 9998 ;custom code
		BREAK
	CASE 9999 ;custom code
		qol_Relation_AscendingOrder = !qol_Relation_AscendingOrder
	CASE -1
	CASE IS >= 100
		TRYCALLFORM CUSTOM_FETISH_RESULT_{PAGE}_{RESULT}
	CASEELSE
		$RETRY
		REUSELASTLINE Invalid Input
		CONTINUE
	ENDSELECT
	BREAK
LOOP 1
GOTO REPRINT

@CUSTOM_FETISH_PRESETS
#DIMS nSet
#DIM FIRST_LINE
DRAWLINE
CALL PRINT_RAINBOWL("페티쉬 프리셋")
DRAWLINE
PRINTFORML 한꺼번에 여러 페티쉬 세팅을 켜거나 끌 수 있습니다.
PRINTFORML (마우스를 올려두면 부가설명이 표시됩니다.)
FIRST_LINE = LINECOUNT
DO
CLEARLINE LINECOUNT - FIRST_LINE

nSet '= "배설 컨텐츠: "
nSet += @"<button value='100' title='배설과 관련된 모든 세팅 비활성화'>[끄기] </button>"
nSet += @"<button value='101' title='소변:\n・이뇨제 플레이\n・오줌지림\n・오줌마시기'>[소변만] </button>"
nSet += @"<button value='102' title='대변:\n・관장\n・완화제 플레이\n・오줌지림\n・대변 플레이\n・진짜 스캇'>[대변만] </button>"
nSet += @"<button value='103' title='기저귀 애호가:\n・애같음, 자제력부족, 욕망\n・유아퇴행 각인\n・무작위 기저귀 확인'>[기저귀만] </button>"
nSet += @"<button value='104' title='소변:\n・이뇨제 플레이\n대변:\n・관장'>[eraK 처럼] </button>"
nSet += @"<button value='105' title='소변:\n・이뇨제 플레이\n・오줌지림\n・오줌마시기\n대변:\n・관장\n・완화제 플레이\n・오줌지림\n・대변 플레이\n・진짜 스캇'>[소변 + 대변] </button>"
nSet += @"<button value='106' title='소변:\n・이뇨제 플레이\n・오줌지림\n・오줌마시기\n기저귀 애호가:\n・애같음, 자제력부족, 욕망\n・유아퇴행 각인\n・무작위 기저귀 확인'>[소변 + 기저귀] </button>"
nSet += @"<button value='107' title='대변:\n・관장\n・완화제 플레이\n・오줌지림\n・대변 플레이\n・진짜 스캇\n기저귀 애호가:\n・애같음, 자제력부족, 욕망\n・유아퇴행 각인\n・무작위 기저귀 확인'>[대변 + 기저귀] </button>"
nSet += @"<button value='108' title='소변:\n・이뇨제 플레이\n・오줌지림\n・오줌마시기\n대변:\n・관장\n・완화제 플레이\n・오줌지림\n・대변 플레이\n・진짜 스캇\n기저귀 애호가:\n・애같음, 자제력부족, 욕망\n・유아퇴행 각인\n・무작위 기저귀 확인'>[지리는것 빼고 전부] </button>"
nSet += @"<button value='109' title='소변:\n・이뇨제 플레이\n・오줌지림\n・오줌마시기\n대변:\n・관장\n・완화제 플레이\n・오줌지림\n・대변 플레이\n・진짜 스캇\n・대변지림\n기저귀 애호가:\n・애같음, 자제력부족, 욕망\n・유아퇴행 각인\n・무작위 기저귀 확인'>[전부] </button>"
HTML_PRINT nSet
nSet '= "성행위 관련 액체 더럽힘: "
nSet += @"<button value='400' title='모든 성관계에서 생길수 있는 액체 비활성화'>[끄기] </button>"
nSet += @"<button value='401' title='・정액\n・보지즙'>[성관계 관련 액체만] </button>"
nSet += @"<button value='402' title='・생리혈'>[생리혈만] </button>"
nSet += @"<button value='403' title='・정액\n・보지즙\n・생리혈'>[전부] </button>"
HTML_PRINT nSet
nSet '= "분쟁: "
nSet += @"<button value='200' title='모든 전투와 관련된 요소 비활성화'>[끄기] </button>"
nSet += @"<button value='201' title='료나: 켬'>[료나만] </button>"
nSet += @"<button value='202' title='료나: 켬\n사회적 결투: 켬'>[사회적 결투만] </button>"
nSet += @"<button value='203' title='료나: 켬\n팩션: 켬\n레이드: 3일마다'>[팩션 레이드만] </button>"
nSet += @"<button value='204' title='료나: 켬\n사회적 결투: 켬\n팩션: 켬\n레이드: 3일마다'>[사회적 결투 + 팩션] </button>"
nSet += @"<button value='205' title='료나: 켬\n사회적 결투: 켬\n네크로필리아: 켬'>[사회적 결투 + 죽음] </button>"
nSet += @"<button value='206' title='료나: 켬\n팩션: 켬\n레이드: 3일마다\n네크로필리아: 켬'>[팩션 + 죽음] </button>"
nSet += @"<button value='208' title='료나: 켬\n사회적 결투: 켬\n팩션: 켬\n레이드: 3일마다\n네크로필리아: 켬'>[전부] </button>"
HTML_PRINT nSet
nSet '= "강간: "
nSet += @"<button value='300' title='모든 강간 요소를 비활성화'>[끔] </button>"
nSet += @"<button value='301' title='강간:\n・TSP\n・수면간\n・역간\n・비합의'>[최면 외 전부] </button>"
nSet += @"<button value='302' title='강간:\n・TSP\n・수면간\n・역간\n・비합의\n최면: Yes\n'>[전부] </button>"
HTML_PRINT nSet
PRINTL
PRINTFORML [-1] Return
INPUT
SELECTCASE RESULT
CASE -1
	RETURN
;excretion
CASE 100
	nPee = 0
	nScat = 0
	nOmutsu = 0
	nPantyPunish = 0
	nAdultBaby = nPantyPunish
CASE 101
	nPee = 7
	nScat = 0
	nOmutsu = 0
	nPantyPunish = 0
	nAdultBaby = nPantyPunish
CASE 102
	nPee = 0
	nScat = 31
	nOmutsu = 0
	nPantyPunish = 0
	nAdultBaby = nPantyPunish
CASE 103
	nPee = 0
	nScat = 0
	nOmutsu = 2
	nPantyPunish = 1
	nAdultBaby = nPantyPunish
CASE 104
	nPee = 1
	nScat = 17
	nOmutsu = 0
	nPantyPunish = 0
	nAdultBaby = nPantyPunish
CASE 105
	nPee = 7
	nScat = 31
	nOmutsu = 0
	nPantyPunish = 0
	nAdultBaby = nPantyPunish
CASE 106
	nPee = 7
	nScat = 0
	nOmutsu = 2
	nPantyPunish = 1
	nAdultBaby = nPantyPunish
CASE 107
	nPee = 0
	nScat = 31
	nOmutsu = 2
	nPantyPunish = 1
	nAdultBaby = nPantyPunish
CASE 108
	nPee = 7
	nScat = 31
	nOmutsu = 2
	nPantyPunish = 1
	nAdultBaby = nPantyPunish
CASE 109
	nPee = 7
	nScat = 63
	nOmutsu = 2
	nPantyPunish = 1
	nAdultBaby = nPantyPunish
;factions
CASE 200
	nRyona = 0
	nFactions = 0
	nSocialFighting = 0
	nRaids = 0
	nNecro = 0
CASE 201
	nRyona = 1
	nFactions = 0
	nSocialFighting = 0
	nRaids = 0
	nNecro = 0
CASE 202
	nRyona = 1
	nFactions = 0
	nSocialFighting = 1
	nRaids = 0
	nNecro = 0
CASE 203
	nRyona = 1
	nFactions = 1
	nSocialFighting = 0
	nRaids = 3
	nNecro = 0
CASE 204
	nRyona = 1
	nFactions = 1
	nSocialFighting = 1
	nRaids = 3
	nNecro = 1
CASE 205
	nRyona = 1
	nFactions = 0
	nSocialFighting = 1
	nRaids = 1
	nNecro = 1
CASE 206
	nRyona = 1
	nFactions = 0
	nSocialFighting = 1
	nRaids = 0
	nNecro = 1
CASE 207
	nRyona = 1
	nFactions = 1
	nSocialFighting = 0
	nRaids = 3
	nNecro = 1
CASE 208
	nRyona = 1
	nFactions = 1
	nSocialFighting = 1
	nRaids = 3
	nNecro = 1
CASE 300
	nRape = 0
	nHypno = 0
CASE 301
	nRape = 15
	nHypno = 1
CASE 302
	nRape = 15
	nHypno = 1
CASE 400
	nSexExcrete = 0
CASE 401
	nSexExcrete = 3
CASE 402
	nSexExcrete = 4
CASE 403
	nSexExcrete = 7
ENDSELECT
LOOP 1


;external
;=================
;template
;=================
;=================
;Regex Used
;=================
[SKIPSTART]
Search:
FetishName:(\d+) '= @"(.+)：(.+)"
FetishDescription:(\d+) '= (.+)


Replace:
@CUSTOM_FETISH_NAME_X_$1(CF_STRING="name")
#FUNCTIONS
#DIMS CF_STRING
SELECTCASE CF_STRING
CASE "name"
    CFM_RETURN '= @"$2"
CASE "enabled"
    CFM_RETURN '= @"$3"
CASE "header"
    CFM_RETURN '= @""
CASE "description"
    CFM_RETURN '= $5
ENDSELECT
[SKIPEND]
;=================
@CUSTOM_FETISH_NAME(CF_PAGE="",CF_OPTIONS=0,CF_STRING="name")
#FUNCTIONS
#DIMS CF_PAGE
#DIM CF_OPTIONS
#DIMS CF_STRING
VARSET CFM_RETURN
VARSET LOCALS
TRYCALLFORMF CUSTOM_FETISH_NAME_%CF_PAGE%_{CF_OPTIONS}(CF_STRING)
RETURNF CFM_RETURN

