;revからパクリ

@TITLE_NAS
#DIMS CLASS_NAME, CLASS_NUM + 1
#DIM ErrorLineCount,4
;CLEARLINE LINECOUNT

LOADGLOBAL
RESULT = GLOBAL
inSaveTransfer = 0
SIF !nVNGlobals:drawing && !nVNGlobals:wordPrint && !nVNGlobals:hearts && !nVNGlobals:printFlsuhTime && !nVNGlobals:printFlushAdd
	CALLF VNGlobalConfigInit
SAVEGLOBAL
LOADGLOBAL

CLEARMEMORY ;debloat custom code

RESETBGCOLOR
;Moved lazy loading images up so any errors can be caught by the LINECOUNT check
CALL RM_TITLE_PREPARE ;debloat custom code
CALL RM_RESOURCE_INIT ;debloat custom code

;custom code, stop here if there are errors
;NAS: Show a message instead of forcing a wait.


; No lazy loading table file, will generate the table after full load.
; 口上・メッセージ関連\個人口上\011 Marisa [魔理沙]\eraTW用霧雨魔理沙口上ver,0.03\M_KOJO_K11_FUNC.ERB has event function EVENTEND, file excluded.
; 口上・メッセージ関連\個人口上\027 Wriggle [リグル]\Wriggle\M_KOJO_K27_イベント.ERB has event function EVENTEND, file excluded.
; 口上・メッセージ関連\個人口上\033 Suwako [諏訪子]\諏訪子\M_KOJO_K33_ユーザー関数.ERB has event function EVENTEND, file excluded.
; 口上・メッセージ関連\個人口上\041 Nue [ぬえ]\era命蓮寺OvDr!! ver1.35用 ツン≦デレ封獣ぬえ口上ver0.12\M_KOJO_K41_FUNC.ERB has event function EVENTEND, file excluded.
; 口上・メッセージ関連\個人口上\052 Reisen [鈴仙]\鈴仙\M_KOJO_K52_刻印取得.ERB has event function EVENTEND, file excluded.
; 口上・メッセージ関連\個人口上\060 Parsee [パルスィ]\Parsee\M_KOJO_K60_イベント.ERB has event function EVENTEND, file excluded.
; 口上・メッセージ関連\個人口上\064 Yuugi [勇儀]\勇儀\M_KOJO_K64_FUNC.ERB has event function EVENTEND, file excluded.
; 口上・メッセージ関連\個人口上\082 Maribel [メリー]\メリー\M_KOJO_K82_FUNC.ERB has event function EVENTEND, file excluded.
; 口上・メッセージ関連\個人口上\097 Seija [正邪]\正邪\M_KOJO_K97_FUNC.ERB has event function EVENTEND, file excluded.
; 口上・メッセージ関連\個人口上\106 Sumireko [菫子]\菫子\M_KOJO_K106_イベント .ERB has event function EVENTEND, file excluded.
; 口上・メッセージ関連\個人口上\151 YuugenMagan [ユウゲンマガン]\YuugenMagan\M_KOJO_K151_イベント.ERB has event function EVENTEND, file excluded.
; 口上・メッセージ関連\個人口上\117 Gengetsu [幻月]\幻月\M_KOJO_K117_日常系コマンド.ERB has event function EVENTCOMEND, file excluded.
; 口上・メッセージ関連\個人口上\067 Keine [慧音]\TWけね\M_KOJO_K67_性交系コマンド.ERB has event function EVENTCOM, file excluded.
; Successfully created lazy loading table.
; Loading complete. Took 42.48 seconds.
; Press Enter or click to proceed.
 
;IF LINECOUNT > 1

;CUSTOM CODE: CHECK FOR ACTUAL ERRORS IN THE LAST 50 LINES
ErrorLineCount = 0
FOR LOCAL,0,LINECOUNT
	SIF !STRLENS(HTML_GETPRINTEDSTR(LOCAL))
		CONTINUE
	IF STRCOUNT(HTML_GETPRINTEDSTR(LOCAL),"Warning Lv")
		ErrorLineCount++
		IF STRCOUNT(HTML_GETPRINTEDSTR(LOCAL),"Lv3")
			ErrorLineCount:3++
		ELSEIF STRCOUNT(HTML_GETPRINTEDSTR(LOCAL),"Lv2")
			ErrorLineCount:2++
		ELSEIF STRCOUNT(HTML_GETPRINTEDSTR(LOCAL),"Lv1")
			ErrorLineCount:1++
		ENDIF
	ENDIF
NEXT


IF ErrorLineCount
	CLEARLINE 1
	LOCALS =
	IF ErrorLineCount:3
		SETCOLOR C_RED
		LOCALS += @"{ErrorLineCount:3} Lv3、"
	ELSEIF ErrorLineCount:2
		SETCOLOR C_ORANGE
		LOCALS += @"{ErrorLineCount:2} Lv2、"
	ELSEIF ErrorLineCount:1
		SETCOLOR C_YELLOW
		LOCALS += @"{ErrorLineCount:1} Lv1、"
	ENDIF
	PRINTFORML %LIST_IN_STRING(LOCALS)% errors were detected ({ErrorLineCount} in total).
	RESETCOLOR
	PRINTFORML Press Enter or click to proceed
	WAIT
ELSE
	CLEARLINE 1
ENDIF
; ;fancy title
REDRAW 0

VARSET gLineCount

SIF !FIRST_NAME_KM_ADDRESS
CALL CREATE_NAME_LIST

;CALL MAKE_ALL_CLASS_LIST

IF inCharaCreator == 2
	inCharaCreator = 1
	CALL CUSTOM_CHARA_MENU
ELSE
	inCharaCreator = 0
ENDIF
IF inTrain == -999
	inTrain = 0
	GOTO START
ENDIF
IF DismissDisclaimerSwitch
CLEARLINE LINECOUNT
GOTO StartThingsy

ENDIF
;disclaimer
CLEARLINE LINECOUNT
LOCALS '= @"이 게임은 eraTW의 모드인 eraNAS 입니다. 모든 종류의 신고는 git repository에 해 주십시오.<br>"
LOCALS += @"eraNAS 와 OmoTheWorld 는 Mr Pops Alot/eraCorrection @ 2024 eraCorrection 의 소유임을 밝힙니다.<br>"
LOCALS += @"이 이후로 이 소프트웨어 및 관련 문서 파일의 사본을 얻는 모든 사람에게 eraNAS를 제한 없이 사용, 복사, 수정, 병합, 게시, 배포, 재라이선스 및/또는 판매할 수 있는 권리를 포함하되 이에 국한되지 않고,<br>"
LOCALS += @"소프트웨어를 제공받은 사람이 그렇게 하도록 허용할 수 있는 권한이 부여됩니다.<br>"
LOCALS += @"기타 모든 저작권 및 상표는 해당 소유자의 자산입니다.<br>"
LOCALS += @"AnonTW의 포크버전, @ 2024 AnonTW Team. "
LOCALS += @"AnonTW 는 PedyTW/Neodev의 포크버전, @ 2024 Pedy. "
LOCALS += @"eratohoTW의 포크버전, @ 2024 Era Games General. "
LOCALS += @"Touhou Project의 2차 창작 @ 2023 Team Shanghai Alice. "
LOCALS += @"EmueraEM+EE @ 2023 Enter. "
LOCALS += @"Emuera @ 2008 MinorShift, 妊）|дﾟ)の中の人. "

LOCALS += @"<br>"
LOCALS += @"※이 프로그램은 erakanon로 개조 / 재배포 되었습니다. @ 2003 Circle Baku.※<br>"
LOCALS += "<br>"
LOCALS += @"우클릭으로 스킵 가능!"
CALL NAS_START_DISCLAIMER(LOCALS)
SIF ISSKIP()
	GOTO ENDDISCLAIMER

LOCALS '= @"이 게임은 픽션입니다. "
LOCALS += @"모든 이름, 등장인물, 사건, 사고는 모두 픽션임을 밝힙니다.<br>"
LOCALS += @"명백하게 명시된 경우를 제외하고 실제 인물 또는 기타 실제 실체와 유사하거나 실제 브랜드, 건물, 차량, 제품 또는 물건을 사용한 것은 순전히 우연의 일치입니다.<br>"
LOCALS += @"또한 게임의 콘텐츠는 예술적 목적을 위한 것이며, 제작자는 여기에 표현된 어떠한 관점이나 여기에 묘사된 제품, 콘텐츠 또는 행위를 지지, 묵인 또는 장려하지 않습니다."
CALL NAS_START_DISCLAIMER(LOCALS)

LOCALS '= "<font color='#FF0000'><b>경고: 18+ 컨텐츠!</b></font><br>"
LOCALS += @"이 픽션 창조물은 <font color='#FF0000'><b>성적 \@ nSJW < 4 ? (폭력적)#\@ 인 요소를 포함하고 있습니다.</b></font><br>"
LOCALS += @"그러므로, 이 게임을 <b>anyone</b> 18세 이하는 플레이 하지 마십시오.<br>"
LOCALS += @"이 게임에서 묘사되는 모든 등장인물은 <font color='#FF0000'><b>최소 \@ nSJW < 2 ? 누가 신경쓰냐# 21\@</b></font> 세 입니다. "
LOCALS += @"\@ nSJW < 4 ? 아무것도 # 모든게 \@ 합의하에 진행된 롤플레이 입니다, "
;LOCALS += @"any animals are \@ nSJW < 2 ? simply data # actually people in fursuits\@, "
LOCALS += @"모든 배설 플레이는 가짜 입니다. "
LOCALS += @"그리고 <font color='#FF0000'><b>어떠한 생명체도</b></font> 다치지 않음을 명시 합니다.<br>"
; LOCALS += @"This game contains multiple fetishes that can be enabled or disabled at any time:<br>"
; SIF nSex
; LOCALS += @"・Vanilla Sexual Content<br>"
; SIF nPee
; LOCALS += @"・Pee Content<br>"
; SIF GETBIT(nPee,0)
; LOCALS += @"%" "*5%・In-Sex Peeing<br>"
; SIF GETBIT(nPee,1)
; LOCALS += @"%" "*5%・Wetting<br>"
; SIF GETBIT(nPee,3)
; LOCALS += @"%" "*5%・Watersports and pee play<br>"
; SIF nScat
; LOCALS += @"・Poop Content<br>"
; SIF GETBIT(nScat,2)
; LOCALS += @"%" "*5%・Messing<br>"
; SIF nOmutsu && (GETBIT(nPee,1) || GETBIT(nScat,2))
; LOCALS += @"・Diaper %PeeAndPoo(GETBIT(nPee,1),GETBIT(nScat,2),"Wetting","Messing")%<br>"

; LOCALS += @"If any of these offend you despite them being disabled, please leave the game now.<br>"
LOCALS += @"이 게임은 다양한 페티쉬가 존재하며 <font color='#FF0000'><b>모두 끄거나 켤 수</b></font> 있습니다.<br>"
LOCALS += @"명시할 내용 중 심각하게 고통받을 수 있는 요소가 있다면, 게임을 꺼 주시기 바랍니다:<br>"
LOCALS += @"・<font color='#FF0000'><b>모든</b></font> 요소가 꺼져 있더라도 기분이 나쁠 때<br>"
LOCALS += @"・<font color='#FF0000'><b>픽션과 현실을 구분</b></font> 할 능력이 없을 때<br>"
CALL NAS_START_DISCLAIMER(LOCALS)
$StartThingsy
VARSET LOCALS
REDRAW 0
CLEARLINE LINECOUNT
;logos
;PRINTFORML Preseting:
gLineCount = LINECOUNT
LOCALS =
IF !nPublicMode
;SETBGIMAGE NAS_BG1_
CALL EasyImage("NAS_TITLE_BLANK",@"OMOGATARI/Titles/Title .webp", 50, , , "center",,RM_TITLE+15)
TWAIT 500,0
CLEARLINE LINECOUNT
IF GETBIT(NASTitle(),0)
	LOCALS += "N"
	;CLEARLINE LINECOUNT - gLineCount
	CALL EasyImage("NAS_TITLE_BLANK_S1",@"OMOGATARI/Titles/Title %LOCALS%.webp", 50, , , "center",,RM_TITLE+16)
	;SETBGIMAGE NAS_BG1_%LOCALS%
	TWAIT 500,0
	GDISPOSE RM_TITLE+16
ENDIF
CLEARLINE LINECOUNT
IF GETBIT(NASTitle(),1)
	LOCALS += "A"
	;CLEARLINE LINECOUNT - gLineCount
	CALL EasyImage("NAS_TITLE_BLANK_S2",@"OMOGATARI/Titles/Title %LOCALS%.webp", 50, , , "center",,RM_TITLE+17)
	;SETBGIMAGE NAS_BG1_%LOCALS%
	TWAIT 500,0
	GDISPOSE RM_TITLE+17
ENDIF
CLEARLINE LINECOUNT
IF GETBIT(NASTitle(),2)
	LOCALS += "S"
	;CLEARLINE LINECOUNT - gLineCount
	CALL EasyImage("NAS_TITLE_BLANK_S3",@"OMOGATARI/Titles/Title %LOCALS%.webp", 50, , , "center",,RM_TITLE+18)
	;SETBGIMAGE NAS_BG1_%LOCALS%
	TWAIT 500,0
	GDISPOSE RM_TITLE+18
ENDIF
ENDIF
;==============
$ENDDISCLAIMER

CALL SetWindowTitle
CLEARLINE 1
RESULT  = 1

;CALL RM_RELEASE_ALL; releases images
;CALL RM_TITLE_PREPARE ;debloat custom code
;CALL RM_RESOURCE_INIT ;debloat custom code

;play a random 2hu title theme
CALLF RandomSong()
CALL SET_START_YEAR
SIF !MESSKIP()
REDRAW 1
;PLAYBGM @"music/score/{LOCAL:6}.m4a"
DO
	inCharaCreator = 0
	;blank line
	PRINTL
	$START ;custom code - keep the loop to avoid crashes
	CLEARLINE LINECOUNT
	GDISPOSE RM_TITLE
	GDISPOSE RM_TITLE+55
	;SETBGIMAGE NAS_BG1_%LOCALS%
	IF !nPublicMode
		SELECTCASE ViewingTitlePage
		CASE 0
		CALL EasyImage("TW_title",@"OMOGATARI/Titles/Title %NASTitleFetish()%.webp", 50, , , "center",,RM_TITLE)
		CASE 1
		CALL EasyImage("EZB_title",@"OMOGATARI/Titles/Title EZB.webp", 50, , , "center",,RM_TITLE+55)
		ENDSELECT
	ENDIF
	$START2
	SETBGMVOLUME BGMVOLUME
	SETSOUNDVOLUME SOUNDVOLUME
	ALIGNMENT CENTER
	;CUSTOMDRAWLINE ━
	CALL COLOR_LINE
	SELECTCASE ViewingTitlePage
	CASE 0
	PRINTFORML \@ nPublicMode ? Emuera # %NASTitleSTR()% \@
	CASE 1
	PRINTFORML \@ nPublicMode ? Emuera # eraEasyBattle: eraNAS의 배틀시뮬 버젼 \@
	ENDSELECT
	PRINTFORML %NASVersionName()%
	PRINTFORML %GAMEBASE_YEAR%
	PRINTFORML
	PRINTFORML Megami Haisetsu 에디션

;		CALL HTMLPRINTL(@"%HTMLFONT(@"<b>%HTMLSTYLE(@"%GAMEBASE_TITLE%", 2)%</b>", "Courier New", )%")
;		CALL HTMLPRINTL(@"%HTMLFONT(@"<b>%eraTW_Version%</b>", "Courier New")%")
;		CALL HTMLPRINTL(@"%HTMLFONT(@"<b>(%GAMEBASE_YEAR%)</b>", "Courier New")%")
	;PRINTFORML %GAMEBASE_INFO%
	;PRINTL
	PRINTL
	CALL TW_TIPS
	RESETCOLOR
	ALIGNMENT CENTER
		SIF BGMVOLUME && PlayingBGM
		PRINTFORML Playing: %STR_TR(PlayingBGM)% (%GET_SERIES_NAME_TR(GET_SERIES_NO(PlayingBGM))%)
		CALL COLOR_LINE
		;CUSTOMDRAWLINE ━

				
		; IF ViewingTitlePage == 1
		; 	SETCOLOR C_ORANGE
		; 	PRINTFORML [100] Continue
		; 	RESETCOLOR
		; 	GOTO BypassOptions
		; ENDIF
		
		IF CHKDATA(GLOBAL:998) == 0
			SETCOLOR C_ORANGE
			PRINTFORML [-99] 계속하기
			RESETCOLOR
		ENDIF
		PRINTFORML [0] 게임시작
		;#;PRINTFORML [99] Dev Quicktest
		PRINTFORML [1] 불러오기
		;PRINTFORML [2] Pronoun - \@THIRD_PERSON?Third Person#Second Person\@
		SIF !ViewingTitlePage
		PRINTFORML [40] 세이브 이전
		;FONTBOLD
		;SETCOLOR C_RED
		[IF_DEBUG]
		IF !ViewingTitlePage
		PRINTBUTTON "[Lucid Dream Test]", 96
		PRINTBUTTON "[Map Path Test]", 98
		PRINTL
		ENDIF
		[ENDIF]
		;FONTREGULAR
		$BypassOptions
		RESETCOLOR
		CALL COLOR_LINE
		PRINTBUTTON "[NAS]", -10000
		PRINTFORMS "     "
		PRINTBUTTON "[EasyBattle]", -20000
		PRINTFORMS "     "
		PRINTBUTTON "[커스텀 캐릭터]", -4
		PRINTFORMS "     "
		PRINTBUTTON "[옵션]", 3
		PRINTL
		CALL COLOR_LINE
		$BYPASS
		ALIGNMENT LEFT

		SIF !gLineCount
			gLineCount = LINECOUNT
		REDRAW 0
		INPUT
		L = RESULT
		PLAYSOUND "se/キー音.m4a"
		;CLEARBGIMAGE
		CUSTOMDRAWLINE ━
		SELECTCASE L
			CASE 0
				SAVEGLOBAL
				RESETDATA
				$NEWGAME
				LOADGLOBAL
				;CALL CREATE_NAME_LIST
				CALL Name_Array_Set ;additional call because we need it for master's name
				CALL ADDCHARA_INIT(0) ;custom code, init PC
				;CLEARBGIMAGE
				BEGIN FIRST
			CASE 1
				;Custom code for load-save menu	
				CALL LOAD_SAVE(0,1)
			CASE -99
				SAVEGLOBAL
				LOADDATA GLOBAL:998
			CASE -4
				CALL MAKE_ALL_CLASS_LIST
				CALL Name_Array_Set ;additional call because we need it for master's name	
				CALL INIT_FACTIONS
				CALL CUSTOM_CHARA_MENU
			CASE 40
				;Custom code for save transfer
				LOADGLOBAL
				inSaveTransfer = 1
				SAVEGLOBAL
				CALL LOAD_SAVE(0,1)
				LOADGLOBAL
				inSaveTransfer = 0
				SAVEGLOBAL
			CASE 96
				DevTest = 3
				GOTO NEWGAME
			CASE 98
				CALL Name_Array_Set
				CALL MAKE_ALL_CLASS_LIST
				;デフォルトオプション
				CALL DEFAULT_OPTION
				;キャラ生成
				CALL ADD_ALL_CHARACTERS
				CALL AddMissingRelations
				DevTest = 2
				IF DevTestOptions:1
				MASTER = RAND:CHARANUM
				ELSE
				MASTER = DevTestOptions
				ENDIF
				DEBUG_Target = MASTER
				PlayerLandBought = 1
				PlayerLandOwner = MASTER
				$NavLoop
				PRINTFORML Pick a place to check the pathfinding of:
				FOR LOCAL, 0, 100
					SIF GET_EXISTMAP(LOCAL)
					PRINTFORML [{LOCAL,2}] - %GET_MAPNAME(LOCAL)%
				NEXT
				PRINTFORML [192] - %GET_MAPNAME(19)% (Worn)
				PRINTFORML [193] - %GET_MAPNAME(19)% (Regular)
				PRINTFORML [194] - %GET_MAPNAME(19)% (Big)
				PRINTFORML [195] - %GET_MAPNAME(19)% (Mansion)
				PRINTFORML [196] - %GET_MAPNAME(19)% (Big - Alt)
				INPUT
				ゲーム開始処理中 = 0
				ゲーム引き継ぎ処理中 = 0
				IF RESULT == 196
					PlayerLandProgress = 4
					PlayerLandProgressAlt = 1
					デフォルト初期位置 = 19*100+1
					MAIN_MAP = 19
				ELSEIF RESULT >= 190
					PlayerLandProgress = RESULT % 190
					デフォルト初期位置 = 19*100+1
					MAIN_MAP = 19
				ELSE
				デフォルト初期位置 = RESULT*100+1
				MAIN_MAP = RESULT
				ENDIF
				CALL ROOMSETTING
				CALL DEBUG_MENU_RESULT_6_201()
				SETCOLOR C_GREEN
				PRINTL
				PRINTFORML %"-"*89%
				PRINTFORML ALL NAVIGATION AREAS ON 【%GET_MAPNAME(MAIN_MAP)%】 ARE VALID.
				PRINTFORML %"-"*89%
				RESETCOLOR
				FORCEWAIT
				GOTO NavLoop
			CASE 99
				RESETDATA
				DevTest = 1
				GOTO NEWGAME
			[SKIPSTART]
			CASE 100
				RESETDATA
				CALL NAS_START_LOADING
				DevTest = 1
				;クラス関数初期化
				;SIF !FIRST_NAME_KM_ADDRESS
				;CALL CREATE_NAME_LIST
				CALL Name_Array_Set
				CALL MAKE_ALL_CLASS_LIST
				;デフォルトオプション
				CALL DEFAULT_OPTION
				;キャラ生成
				StartingYear = 2023
				CALL SET_START_YEAR
				CALL ADD_ALL_CHARACTERS
				CALL AddMissingRelations
				CALL NAS_LOAD_END
				CALL EasyBattleMenu
			[SKIPEND]
			CASE 3
				inCharaCreator = 1
				;SIF !FIRST_NAME_KM_ADDRESS
				;CALL CREATE_NAME_LIST
				;CALL MAKE_ALL_CLASS_LIST
				CALL NAS_SETTINGS
			CASE -10000
				CLEARLINE LINECOUNT
				ViewingTitlePage = 0
				SAVEGLOBAL
				LOADGLOBAL
				CALL SetWindowTitle
				GOTO START
			CASE -20000
				CLEARLINE LINECOUNT
				ViewingTitlePage = 1
				SAVEGLOBAL
				LOADGLOBAL
				CALL SetWindowTitle
				GOTO START
		ENDSELECT
		CLEARLINE LINECOUNT - LOCAL
		GOTO START
LOOP RESULT
REDRAW 1

@NAS_START_DISCLAIMER(ARGS,nTime=5000)
#DIM nTime
#DIMS SD_INPUT
#DIM MAX_LINES
#DIM L_HEIGHT
#DIM L_WIDTH
#DIM L_TIMES
REDRAW 0
CLEARLINE LINECOUNT
;get it in the middle
ARGS '= REPLACE(ARGS, "<font color='#FF0000'>", "<SR>")
SD_INPUT '= BREAKENG(ARGS,MAXWIDTH()*1/10,"<br>",MAXWIDTH() * 9/10)
SD_INPUT '= REPLACE(SD_INPUT, "<SR>","<font color='#FF0000'>")

MAX_LINES = CLIENTHEIGHT() ; can't automatically find it with GETCONFIG("WINDOW HEIGHT") so we have to assume.
L_HEIGHT = GETCONFIG("LINE HEIGHT")
L_TIMES = MAX_LINES/L_HEIGHT*50/100-(STRCOUNT(SD_INPUT,"<br>")+1)


;HTML_PRINT @"<p align='center'>%SD_INPUT%</p>"     
HTML_PRINT @"%SD_INPUT%"
FOR LOCAL,0,L_TIMES
PRINTL
NEXT
TWAIT nTime,0
;CALL FLASH(1, 0xe1cb7f)
REPEAT 50
	CLEARLINE LINECOUNT
	HTML_PRINT @"<font color='#%TOSTR(Color_Gradient_PER(GETCONFIG("TEXT COLOR"),0,COUNT*2),"X6")%'>%SD_INPUT%</font>"
	FOR LOCAL,0,L_TIMES
	PRINTL
	NEXT
	TWAIT 5, 0
REND
