;custom code, put an array of characters to show their pictures one by one in a line, args dictates name highlight mode, zoom for pic zoom level, br for how many pictures to show per line
@PRINT_ROSTER(iID, sHighlightMode, nZoomLevel = 60, nBR = 10, nSpacing)
#DIM REF iID
#DIMS sHighlightMode
#DIM nZoomLevel
#DIM nBR

#DIM iSpaceSize
#DIM nSpacing
#DIMS sPrint_Text
#DIM pType

#DIM nStore, 2

;SIF !iID
;	RETURN RESULT

sPrint_Text =  <p align='left'><nobr>

;set img size
nStore:0 = FLAG:マルチサイズ
nStore:1 = デフォルトキャラ画像横幅
FLAG:マルチサイズ = 0
デフォルトキャラ画像横幅 = 180

LOCAL = 0
LOCAL:1 = 0
DO
	;fallback to STOP REPEATING MASTERS
	SIF !iID:LOCAL && LOCAL
		CONTINUE
	;iSpaceSize = (デフォルトキャラ画像横幅 * nZoomLevel/GETCONFIG("フォントサイズ") - (RESULT*nSpacing)) / 2
	iSpaceSize = (デフォルトキャラ画像横幅 * nZoomLevel/100 - HTML_STRINGLEN(CALLNAME:(iID:LOCAL), 1) - GETCONFIG("フォントサイズ")) / 2
	iSpaceSize = MAX(iSpaceSize, 0)

	sPrint_Text += @"<shape type = 'space' param = '{iSpaceSize}px'>"

	IF sHighlightMode == "roster"
		LOCALS = <button value='{iID:LOCAL}' title='Target: {iID:LOCAL}'>[%CALLNAME:(iID:LOCAL)%]</button>
	ELSE
		LOCALS = [%CALLNAME:(iID:LOCAL)%]
	ENDIF
	;highlight
	IF sHighlightMode == "broad"
		IF QoL_IsRequestProgressable(iID:LOCAL) ;highlight in progress requests
			LOCALS = <font color='#0x00FF00'>%LOCALS%</font>
		ELSEIF CFLAG:(iID:LOCAL):行動 ;orange work
			LOCALS = <font color='#0xFA6400'>%LOCALS%</font>
		ELSEIF TCVAR:(iID:LOCAL):発情 ;pink in heat
			LOCALS = <font color='#0xFF64FF'>%LOCALS%</font>
		ENDIF
	ENDIF

	sPrint_Text += LOCALS

	sPrint_Text += @"<shape type = 'space' param = '{iSpaceSize}px'>"

	IF TALENT:(iID:LOCAL):行きずり && !GCREATED(CFLAG:(iID:LOCAL):モブ子素材CFLAG開始位置)
		CALL MOB_IMAGE_GEN(iID:LOCAL,0)
		CALL MOB_IMAGE_GEN(iID:LOCAL,1)
	ENDIF
	
	TRYCALLFORM IMAGE_EX_I{NO:(iID:LOCAL)}_PREリソースチェック(iID:LOCAL, "顔絵", "服", "通常")

	RESULT = 0
	CALL GET_BASE_RESOURCE(iID:LOCAL, "顔絵", "服", "通常")
		IF IS_MALE(iID)
			pType = 0
		ELSE
			pType = 1
		ENDIF
		SIF CUSTOM_PORTRAITS:iID:pType
			LOCALS '= @"c{CUSTOM_PORTRAITS:iID:pType}"
	;PRINTFORML RESULT - {RESULT}
	IF !RESULT || RESULT > 1 ;if failed to generate or if breast size difference flag returns different value than 1
		RESULTS:0 = %GET_BASESTYLE(iID:LOCAL, "顔絵")%_服_通常_{iID:LOCAL}
		RESULTS:1 =
	ENDIF
	;PRINTFORML RESULTS - %RESULTS% iID:LOCAL - {iID:LOCAL}
		IF IS_MALE(iID)
			pType = 0
		ELSE
			pType = 1
		ENDIF
		SIF CUSTOM_PORTRAITS:iID:pType
			LOCALS '= @"c{CUSTOM_PORTRAITS:iID:pType}"
	IF sHighlightMode == "roster"
		;enable button with value + popup
		CALL IMAGE_SET(RESULTS, 0, 0, nZoomLevel, 0, 1, @"{iID:LOCAL}", @"Target: {iID:LOCAL}")
	ELSE
		CALL IMAGE_SET(RESULTS, 0, 0, nZoomLevel, 0, 0)
	ENDIF

	;spacing between pics (manual sucks I know)
	TEMP_HTML_MAX_HEIGHT = nSpacing ? nSpacing # MULTIPLY(nZoomLevel, 190)

	LOCAL++
	;break line
	IF ++(LOCAL:1) % nBR == 0
		HTML_PRINT sPrint_Text
		CALL SIMULTANEOUS_IMAGE_DISPLAY(0, 0, 1, -1)
		sPrint_Text =  <p align='left'><nobr>
	ENDIF
LOOP iID:LOCAL
HTML_PRINT sPrint_Text
CALL SIMULTANEOUS_IMAGE_DISPLAY(0, 0, 1, 0) ;s. https://gitgud.io/Legis1998/anon-tw/-/issues/4

FLAG:マルチサイズ = nStore:0
デフォルトキャラ画像横幅 = nStore:1

;custom code

@STALKER_CHANGE
PRINTFORML Please select a target.
gLineCount = LINECOUNT
REDRAW 0
DO
	SIF LINECOUNT - gLineCount > 0
		CLEARLINE LINECOUNT - gLineCount
	FOR LOCAL,0,CHARANUM
		SIF LOCAL == MASTER
			CONTINUE
		SIF TALENT:LOCAL:行きずり
			CONTINUE
		SIF CFLAG:LOCAL:出禁
			CONTINUE
		SIF STALKED == LOCAL
			SETCOLOR C_YELLOW
		PRINTFORMLC [{LOCAL}] %CALLNAME:LOCAL%
		RESETCOLOR
	NEXT
	PRINTFORML
	PRINTFORML
	PRINTFORML [888] Cancel
	DRAWLINE
	PRINTFORML [999] Confirm
	INPUT
	SELECTCASE RESULT
		CASE 999
			BREAK
		CASE 888
			STALKED = MASTER
		CASEELSE
			SIF INRANGE(RESULT,0,CHARANUM) && !TALENT:RESULT:行きずり && !CFLAG:RESULT:出禁
				STALKED = RESULT
	ENDSELECT
LOOP 1

;print full roster page by page
@QOL_FULL_ROSTER
#DIM DYNAMIC nPage = 1
#DIM DYNAMIC nPageLength
#DIM nPageSize
#DIM DYNAMIC nPrintCount
#DIM nRoster, 100

#DIMS DYNAMIC strPrintRange
#DIMS DYNAMIC strSearch

SIF !FLAG:画像表示
	RETURN 0

nPageSize = MAX(CLIENTHEIGHT() / GETCONFIG("フォントサイズ")-4, 1)
;round down to nearest 10th
nPageSize = MAX(nPageSize/10)*10
SIF CLIENTHEIGHT() < 600
	nPageSize = 10

gLineCount = LINECOUNT
REDRAW 0
DO
	SIF LINECOUNT - gLineCount > 0
		CLEARLINE LINECOUNT - gLineCount
	DRAWLINE
	PRINTFORML Character Roster
	DRAWLINE

	;search mode
	IF STRLENS(strSearch)
		PRINTFORM Searching: %strSearch%, 
		LOCAL:1 = 0
		strPrintRange =
		FOR LOCAL:0, 0, CHARANUM
			SIF CFLAG:LOCAL:出禁
				CONTINUE
			IF (STRCOUNT(TOLOWER(NAME:LOCAL), TOLOWER(strSearch))) ;inspired by @LIST_SEARCHABLE
				strPrintRange += TOSTR(LOCAL) + ":"
				LOCAL:1 ++
			ENDIF
		NEXT
		;total amount of items
		nPageLength = LOCAL:1 / nPageSize + ((LOCAL:1 % nPageSize) == 0 ? 0 # 1)

		;reset current page in case it gets overflowed
		SIF nPage > nPageLength
			nPage = 1

		PRINTFORML {LOCAL:1} results found!
		DRAWLINE

		VARSET nRoster
		nPrintCount = 0
		LOCAL:1 = 0
		FOR LOCAL:0, 1, CHARANUM-1
			SIF !SPLIT_CHECK(strPrintRange, LOCAL:0) ;show only those who are in the list
				CONTINUE

			SIF (nPrintCount >= (nPage-1) * nPageSize) && (nPrintCount < (nPage) * nPageSize)
				nRoster:(LOCAL:1++) = LOCAL

			nPrintCount ++
		NEXT
	ELSE
		LOCAL:1 = 0
		strPrintRange =

		;build a list of items
		FOR LOCAL:0, 0, CHARANUM
			SIF !FLAG:並び替え && CFLAG:LOCAL:出禁 ;hide banned character slots with default sorting
				CONTINUE

			strPrintRange += TOSTR(LOCAL) + ":"
			LOCAL:1 ++
		NEXT

		;total amount of items
		nPageLength = LOCAL:1 / nPageSize + ((LOCAL:1 % nPageSize) == 0 ? 0 # 1)

		;reset current page in case it gets overflowed
		SIF nPage > nPageLength
			nPage = 1

		VARSET nRoster
		nPrintCount = 0
		LOCAL:1 = 0
		SIF FLAG:並び替え
			CALLF CHARASORT_EX_TR
		FOR LOCAL:0, 0, CHARANUM-1
			SIF !SPLIT_CHECK(strPrintRange, LOCAL:0) ;show only those who are in the list
				CONTINUE
			SIF !INRANGE(RESULT:LOCAL,0,CHARANUM-1) ; exist as characters
				CONTINUE
			SIF FLAG:並び替え && CFLAG:(RESULT:LOCAL):出禁 ;hide banned characters at display stage when zun sorting is enabled
				CONTINUE
			SIF (nPrintCount >= (nPage-1) * nPageSize) && (nPrintCount < (nPage) * nPageSize)
				nRoster:(LOCAL:1++) = (FLAG:並び替え ? RESULT:LOCAL # LOCAL)

			nPrintCount ++
		NEXT
	ENDIF
	PRINTFORML

	IF nRoster:0 == 0 && nRoster:1 == 0
		DRAWLINE
		PRINTFORML
		PRINTFORML No Items Found!!!
		PRINTFORML
		DRAWLINE
	ELSE
		CALL PRINT_ROSTER(nRoster, "roster", 60, 10)
	ENDIF

	;controls
	PRINTFORML
	IF nPageLength == 1
		SETCOLOR 0x606060
		PRINTFORM %"Prev page",15,LEFT%
		RESETCOLOR 
	ELSE
		PRINTBUTTON @"%"Prev page",15,LEFT%", 888
	ENDIF
	PRINTFORM ({nPage}/{nPageLength})%BL(6)%
	PRINTFORM 
	IF nPageLength == 1
		SETCOLOR 0x606060
		PRINTFORM %"Next page",15,LEFT%
		RESETCOLOR 
	ELSE
		PRINTBUTTON @"%"Next page",15,LEFT%", 777
	ENDIF
	IF nRoster:0 != 0 || STRLENS(strSearch)
		PRINTFORM %" "*15%
		IF STRLENS(strSearch)
			PRINTBUTTON @"%"Reset Search",15,LEFT%", 666
		ELSE
			PRINTBUTTON @"%"Search By Name",15,LEFT%", 666
		ENDIF
	ENDIF

	PRINTFORML 
	PRINTFORML 
	PRINTBUTTON "[999] Return　", 999
	PRINTFORM  

	INPUT
	SELECTCASE RESULT
		CASE 666
			IF STRLENS(strSearch)
				strSearch '= ""
			ELSE
				PRINTL Input the name:
				INPUTS
				strSearch '= RESULTS
				nPage = 1
			ENDIF
		CASE 777, 888
			SIF nPageLength == 1
				CONTINUE
			nPage = PAGE_HANDLE(RESULT, 888, nPage, 1, nPageLength)
		CASE 0 TO CHARANUM-1
			CALL SINGLE_CHARA_STATE_TR(RESULT)
			SIF !RESULT
				CONTINUE
		CASE 999
			RETURN 1
	ENDSELECT
LOOP 1