;オプション設定処理
@OPTION(ARG) ;com custom code, ARG = 1: during training (not in the shop)
#DIM L_COUNT
#DIM L_FEED
#DIM TEMP

#DIM nTab = 80 ;custom code
#DIM FIRST_LINE
VARSET LOCAL
L_FEED = LINECOUNT
FIRST_LINE = LINECOUNT
TOOLTIP_SETDELAY 100
TEMP = CURRENTREDRAW()
REDRAW 0
PRINTBUTTON "★★", 1467
PRINT 옵션을 선택하세요
PRINTBUTTON "★★", 1467	
PRINTL
DRAWLINEFORM =
FOR L_COUNT, 0, 91
	CALL OPTION_SETNAME(L_COUNT)
	SIF !RESULT
		CONTINUE
	LOCAL:L_COUNT = 1
	IF RESULTS:2 == "" 
		PRINTFORML [{L_COUNT, 2}] - %OPTIONS_TR(RESULTS:0), nTab, LEFT%：　%OPTIONS_TR(RESULTS:1)%
	ELSE
		HTML_PRINT @"<button value='{L_COUNT}' title='%HTML_ESCAPE(OPTIONS_TR(RESULTS:2))%'>[{L_COUNT, 2}] - %OPTIONS_TR(RESULTS:0), nTab, LEFT%：　%OPTIONS_TR(RESULTS:1)%</button>"
	ENDIF
NEXT
PRINTFORML (Some options have tooltips)
DRAWLINEFORM －
PRINTFORML [91] - 자동 신음 설정
PRINTFORML [92] - 필터 설정
PRINTFORML [93] - 화상 설정
PRINTFORML [94] - 캐릭터 비활성화 설정
PRINTFORML [95] - 커맨드 설정
;#;PRINTFORML [96] - 카운터 액션 필터(Debug)
;PRINTFORML [97] - 요리 설정
PRINTFORML [100] - 모드 기능 설정
;addition custom code
PRINTFORML [101] - 대사 비활성화 설정
PRINTFORML [900] - 페티쉬 설정
;PRINTFORML [102] - 비윤리적 컨텐츠 비활성화 설정
DRAWLINE

IF DAY > YearLength && !ARG
	HTML_PRINT @"<button value='200' title='경고: 더 이상 읽지 마십시오'>[200] - 바이츠 더 더스트</button>"
ENDIF
PRINTFORML [999] - 종료
INPUT
SELECTCASE RESULT
CASE 0 TO 90
	SIF LOCAL:RESULT
		CLEARLINE LINECOUNT - FIRST_LINE
		CALL OPTION_SETTING(RESULT)
	CLEARLINE LINECOUNT - L_FEED
CASE 900
	CALL OPTION_MOD_FETISH
CASE 91
	CALL OPTION_オート喘ぎ一括設定
CASE 92
	CALL 簡易フィルタ一括設定
CASE 93
	CALL OPTION_画像表示詳細設定
CASE 94
	CALL 登場キャラ切り替え
CASE 95
	CALL OPTION_COMMAND_FILTER
[IF_DEBUG]
CASE 96
	CALL OPTION_COUNTER_FILTER
[ENDIF]
;CASE 97
;	CALL SET_OPTION_COOKING
CASE 100 ;custom code
	CALL OPTION_MOD
CASE 101 ;addition custom code
	CALL Add_Ban_Dialogue
CASE 102 ;atw edit, hardcore content toggle
	CALL HARDCORECONTENT_MENU
CASE 1467 ;cheat custom code
	CALL CHEAT_MENU()
CASE  200
	TOOLTIP_SETDELAY 500
	IF DAY <= YearLength || ARG
		REDRAW TEMP
		RETURN
	ENDIF
	PRINTFORML 첫 날로 시간을 되돌리시겠습니까?
	PRINTL 
	PRINTL [0]「스위치」를 누르지 마——— !!!
	PRINTL [1] 아니, 이제 한계다! 이제 누를거야... 지금!
	INPUT
	IF RESULT == 1
		CALL 強くてニューゲーム
	ELSE
;		PRINTW 「스위치」를 누르는 것을 멈추지 못했지만, 운이 좋게도 옵션 선택 까지 밖에 돌아오지 않았다.
	ENDIF
CASEELSE
	TOOLTIP_SETDELAY 500
	REDRAW TEMP
	RETURN
ENDSELECT
RESTART

@OPTION_SETNAME(ARG)
;RESULT:2	ツールチップ表記内容
VARSET RESULTS 
RESULT = 1
SELECTCASE ARG
; preggo now global
; CASE 0
; 	RESULTS:0 = 妊娠の有無
; 	IF FLAG:妊娠スイッチ
; 		RESULTS:1 = 妊娠する
; 		RESULTS:2 = ※ 女あなたの妊娠機能は未実装 ※
; 	ELSE
; 		RESULTS:1 = 妊娠しない
; 	ENDIF
CASE 1
	RESULTS:0 = 子供の性別
	SELECTCASE FLAG:子供の性別
	CASE 0
		RESULTS:1 = ランダム
	CASE 1
		RESULTS:1 = 女の子
	CASE 2
		RESULTS:1 = 男の子
	ENDSELECT
	SIF !nPreggo ; preggo now global
		RESULT = 0
CASE 2
	RESULTS:0 = 子供の描写 
	IF FLAG:子供描写
		RESULTS:1 = あり
	ELSE
		RESULTS:1 = なし
	ENDIF
	SIF !nPreggo ; preggo now global
		RESULT = 0
CASE 3
	RESULTS:0 = 住み込みイベント
	IF FLAG:住み込みイベント
		RESULTS:1 = なし
	ELSE
		RESULTS:1 = あり
		RESULTS:2 = 親しいキャラが自宅地域に引っ越してきます
	ENDIF
CASE 4
	RESULTS:0 = 宴会の発生
	IF FLAG:宴会の有無
		RESULTS:1 = あり
	ELSE
		RESULTS:1 = なし
	ENDIF
CASE 5
	RESULTS:0 = 相手からの告白
	IF FLAG:告白禁止
		RESULTS:1 = 告白してこない
	ELSE
		RESULTS:1 = 告白してくる
	ENDIF
CASE 6
	RESULTS:0 = セフレ系から恋慕系への陥落変化
	IF FLAG:陥落路線変化
		RESULTS:1 = 変化する
	ELSE
		RESULTS:1 = 変化しない
	ENDIF
CASE 7
	RESULTS:0 = イベントによる[無知]喪失
	IF FLAG:無知自動喪失禁止
		RESULTS:1 = 喪失しない
	ELSE
		RESULTS:1 = 喪失する
	ENDIF
CASE 8
	RESULTS:0 = テキスト設定
	IF FLAG:情景テキスト設定 == 1 && FLAG:口上テキスト設定 == 2
		RESULTS:1 = 口上＋情景テキスト
	ELSEIF FLAG:情景テキスト設定 == 1 && FLAG:口上テキスト設定 == -1
		RESULTS:1 = 情景テキストのみ
	ELSEIF FLAG:情景テキスト設定 == 0 && FLAG:口上テキスト設定 == -1
		RESULTS:1 = テキストを表示しない
	ENDIF
CASE 9
	RESULTS:0 = 口上色
	IF FLAG:口上色
		RESULTS:1 = あり
	ELSE
		RESULTS:1 = なし
	ENDIF
CASE 10
	RESULTS:0 = 汚れ度表示
	IF FLAG:ゴミ表示OFF
		RESULTS:1 = しない
	ELSE
		RESULTS:1 = する
	ENDIF
CASE 11
	RESULTS:0 = カウンターの地の文
	IF FLAG:カウンター地の文制御
		RESULTS:1 = 素質で変化する
	ELSE
		RESULTS:1 = 変化しない
	ENDIF
CASE 12
	RESULTS:0 = おっぱいテキスト
	IF FLAG:Look表示用乳房 == 1 && FLAG:Look表示用乳首 == 1
		RESULTS:1 = 全て固定
	ELSEIF FLAG:Look表示用乳房 == 1 && FLAG:Look表示用乳首 == 0
		RESULTS:1 = 乳房のみ固定
	ELSEIF FLAG:Look表示用乳房 == 0 && FLAG:Look表示用乳首 == 1
		RESULTS:1 = 乳首のみ固定
	ELSEIF FLAG:Look表示用乳房 == 0 && FLAG:Look表示用乳首 == 0
		RESULTS:1 = 固定しない
	ENDIF
CASE 13
	RESULTS:0 = 好意/理性の壁の表示
	IF FLAG:好意理性短縮
		RESULTS:1 = 短縮する
	ELSE
		RESULTS:1 = 短縮しない
	ENDIF
	;RESULTS:2 = ※現在未機能※
	;qol custom code add description to previously not implemented option
	RESULTS:2 = Shortens the reason/favor display to numbers
CASE 14
	RESULTS:0 = 能力表示の表記
	IF FLAG:能力表記
		RESULTS:1 = 数字表記
	ELSE
		RESULTS:1 = 記号表記
	ENDIF
	RESULTS:2 = ※現在未機能※
CASE 15
	RESULTS:0 = ターン毎のABLUP
	IF FLAG:ABLUP省略
		RESULTS:1 = 省略する
	ELSE
		RESULTS:1 = 省略しない
	ENDIF
CASE 16
	RESULTS:0 = ファーストキスの記録
	SELECTCASE FLAG:ＦＫ判定
	CASE 0
		RESULTS:1 = キスのみ・自覚のみ
	CASE 1
		RESULTS:1 = キスのみ・未自覚あり
	CASE 2
		RESULTS:1 = フェラあり・自覚のみ
	CASE 3
		RESULTS:1 = フェラあり・未自覚あり
	ENDSELECT
CASE 17
	RESULTS:0 = 移動時立ち止まり
	SELECTCASE FLAG:立ち止まり
	CASE 0
		RESULTS:1 = 無条件で立ち止まる
	CASE 1
		RESULTS:1 = 口上が存在する場合のみ
	CASE 2
		RESULTS:1 = 立ち止まらない
	ENDSELECT
CASE 18
	RESULTS:0 = 遭遇時の依頼提示
	IF FLAG:依頼スルー
		RESULTS:1 = 表示しない
	ELSE
		RESULTS:1 = 表示する
	ENDIF
CASE 19
	RESULTS:0 = 消耗品の自動購入
	IF FLAG:消耗品自動購入
		RESULTS:1 = する
		RESULTS:2 = 購入するのはローションのみ
	ELSE
		RESULTS:1 = しない
	ENDIF
CASE 20
	RESULTS:0 = 自動時止め移動
	SELECTCASE FLAG:瞬間移動
	CASE 0
		RESULTS:1 = ＯＦＦ
	CASE 1
		RESULTS:1 = 外出先の散策時のみ
	CASE 2
		RESULTS:1 = 拠点内の移動時のみ
	CASE 3
		RESULTS:1 = 外出先/拠点内両方
	ENDSELECT
CASE 21
	RESULTS:0 = 押し倒されなくなる判定
	IF FLAG:押し倒し
		RESULTS:1 = あり
	ELSE
		RESULTS:1 = なし
	ENDIF
CASE 22
	RESULTS:0 = 注意札使用
	IF FLAG:注意札使用
		RESULTS:1 = あり
	ELSE
		RESULTS:1 = なし
	ENDIF
	;custom code, always show tooltip
	RESULTS:2 = 度が過ぎたセクハラ等で発行され貯まるとゲームオーバーになります
CASE 23
	RESULTS:0 = 来訪モード
	SELECTCASE FLAG:交流来訪モード
	CASE 0
		RESULTS:1 = 通常
	CASE 1
		RESULTS:1 = 好感度50以下は来訪しない
	CASE 2
		RESULTS:1 = 陥落したキャラのみ
	CASE 3
		RESULTS:1 = 来訪しない
	ENDSELECT
	RESULTS:2 = 自宅地域にキャラが訪れる条件
CASE 24
	RESULTS:0 = 脱衣コマンドの扱い
	SELECTCASE FLAG:脱衣選択
	CASE 0
		RESULTS:1 = 毎回選択
	CASE 1
		RESULTS:1 = 全裸
	CASE 2
		RESULTS:1 = 半脱ぎ
	ENDSELECT
CASE 25
	RESULTS:0 = 時間停止脱衣コマンドの扱い
	SELECTCASE FLAG:パンツ泥棒
	CASE 0
		RESULTS:1 = 毎回選択
	CASE 1
		RESULTS:1 = 常にくすねる
	CASE 2
		RESULTS:1 = 常に脱がすだけ
	ENDSELECT
CASE 26
	RESULTS:0 = 一部キャラのニーソックス着用
	IF FLAG:ニーソックス着用
		RESULTS:1 = あり
	ELSE
		RESULTS:1 = なし
	ENDIF
CASE 27
	RESULTS:0 = エッチな下着の追加
	IF FLAG:セクシーパンツ追加
		RESULTS:1 = 追加する
	ELSE
		RESULTS:1 = 追加しない
	ENDIF
;addition custom code, handled in the collection menu
; CASE 28
	; RESULTS:0 = パンツ収集状況表示
	; IF FLAG:パンツ収集状況タイプB
		; RESULTS:1 = 未入手でも表示する
	; ELSE
		; RESULTS:1 = 未入手は表示しない
	; ENDIF
CASE 29
	RESULTS:0 = 地図の表示タイプ
	IF RECOLOREDMAPS
		IF ANIMATERECOLOREDMAPS
			RESULTS:1 = カラーマップ + 動画モード
		ELSE
			RESULTS:1 = カラーマップ
		ENDIF
	ELSE
		RESULTS:1 = クラシック
	ENDIF
CASE 30
	RESULTS:0 = キャラリストの表示順
	IF FLAG:並び替え
		RESULTS:1 = 原作順
	ELSE
		RESULTS:1 = ＴＷ順
	ENDIF
CASE 32
	RESULTS:0 = 採集時の再抽選機能
	IF FLAG:採集再抽選
		RESULTS:1 = 有効
	ELSE
		RESULTS:1 = 無効
	ENDIF
CASE 33
	RESULTS:0 = 日時天候による背景色推移
	IF FLAG:背景色推移
		RESULTS:1 = 有効
	ELSE
		RESULTS:1 = 無効
	ENDIF
CASE 34
	RESULTS:0 = カウンターのお仕置き
	SELECTCASE FLAG:カウンター制裁
	CASE 0
		RESULTS:1 = あり
		RESULTS:2 = 弱みを握られるとまれに発生してうふふが中断します
	CASE 1
		RESULTS:1 = 過激なお仕置きはしない
		RESULTS:2 = 道具を使ったお仕置きを控えてくれます
	CASE 2
		RESULTS:1 = なし
	ENDSELECT
CASE 35
	RESULTS:0 = 自動アナル開発許可
	SELECTCASE FLAG:アナル開発無効
	CASE 0
		RESULTS:1 = 許可
	CASE 1
		RESULTS:1 = あなた禁止
		RESULTS:2 = あなたに快Ａソースが入るカウンター行動を禁止します
	CASE 2
		RESULTS:1 = 相手禁止
		RESULTS:2 = 相手に快Ａソースが入るカウンター行動を禁止します
	CASE 3
		RESULTS:1 = あなた・相手禁止
		RESULTS:2 = 快Ａソースが入るカウンター行動を禁止します
	ENDSELECT
CASE 36
	RESULTS:0 = 日常行動中の風チラ発生
	IF FLAG:風チラ発生
		RESULTS:1 = 有効
	ELSE
		RESULTS:1 = 無効
	ENDIF
CASE 37
	RESULTS:0 = 誤爆挿入の発生
	IF FLAG:誤爆無効
		RESULTS:1 = 無効
		RESULTS:2 = 押し倒し中に相手が誤って挿入することがなくなります
	ELSE
		RESULTS:1 = 有効
		RESULTS:2 = 押し倒し中に相手が誤って挿入することがあります
	ENDIF

CASEELSE
	RESULT = 0
ENDSELECT
RETURN RESULT

@OPTION_SETTING(ARG)
CALL OPTION_SETNAME(ARG)
SELECTCASE RESULTS:0
CASE "妊娠の有無"
	FLAG:妊娠スイッチ = !FLAG:妊娠スイッチ
CASE "テキスト設定"
	IF FLAG:情景テキスト設定 == 1 && FLAG:口上テキスト設定 == 2
		FLAG:情景テキスト設定 = 1
		FLAG:口上テキスト設定 = -1
	ELSEIF FLAG:情景テキスト設定 == 1 && FLAG:口上テキスト設定 == -1
		FLAG:情景テキスト設定 = 0
		FLAG:口上テキスト設定 = -1
	ELSEIF FLAG:情景テキスト設定 == 0 && FLAG:口上テキスト設定 == -1
		FLAG:情景テキスト設定 = 1
		FLAG:口上テキスト設定 = 2
	ENDIF
CASE "消耗品の自動購入"
	FLAG:消耗品自動購入 = !FLAG:消耗品自動購入
CASE "汚れ度表示"
	FLAG:ゴミ表示OFF = !FLAG:ゴミ表示OFF
CASE "移動時立ち止まり"
	CALL オプション切り替え("立ち止まり", 2)
CASE "押し倒されなくなる判定"
	FLAG:押し倒し = !FLAG:押し倒し
CASE "自動時止め移動"
	CALL オプション切り替え("瞬間移動", 3)
CASE "住み込みイベント"
	FLAG:住み込みイベント = !FLAG:住み込みイベント
CASE "注意札使用"
	FLAG:注意札使用 = !FLAG:注意札使用
CASE "一部キャラのニーソックス着用"
	FLAG:ニーソックス着用 = !FLAG:ニーソックス着用
CASE "宴会の発生"
	FLAG:宴会の有無 = !FLAG:宴会の有無
	SIF !FLAG:宴会の有無 ;addition custom code
		CALL ADD_BANQUET_RESET_ALL
CASE "来訪モード"
	CALL オプション切り替え("交流来訪モード", 3)
CASE "脱衣コマンドの扱い"
	CALL オプション切り替え("脱衣選択", 2)
CASE "時間停止脱衣コマンドの扱い"
	CALL オプション切り替え("パンツ泥棒", 2)
CASE "口上色"
	FLAG:口上色 = !FLAG:口上色
CASE "おっぱいテキスト"
	IF FLAG:Look表示用乳房 == 1 && FLAG:Look表示用乳首 == 1
		FLAG:Look表示用乳房 = 1
		FLAG:Look表示用乳首 = 0
	ELSEIF FLAG:Look表示用乳房 == 1 && FLAG:Look表示用乳首 == 0
		FLAG:Look表示用乳房 = 0
		FLAG:Look表示用乳首 = 1
	ELSEIF FLAG:Look表示用乳房 == 0 && FLAG:Look表示用乳首 == 1
		FLAG:Look表示用乳房 = 0
		FLAG:Look表示用乳首 = 0
	ELSEIF FLAG:Look表示用乳房 == 0 && FLAG:Look表示用乳首 == 0
		FLAG:Look表示用乳房 = 1
		FLAG:Look表示用乳首 = 1
	ENDIF
CASE "能力表示の表記"
	FLAG:能力表記 = !FLAG:能力表記
CASE "カウンターの地の文"
	FLAG:カウンター地の文制御 = !FLAG:カウンター地の文制御
CASE "エッチな下着の追加"
	FLAG:セクシーパンツ追加 = !FLAG:セクシーパンツ追加
	IF !FLAG:セクシーパンツ追加
		PRINTFORMW 환상향의 야한 속옷 유행이 시들었습니다.
		PRINTL 
		PRINTFORML 소지하고 있는 야한 속옷을 모두 처분 합니까?
		PRINTFORML 처분하는 속옷: 스캔티, 훈도시, G스트링, 시스루 팬티, 비부가 드러난 팬티, 반창고, and 비부가 드러난 블루머.
		PRINTL 
		PRINTL [0] 이제 필요 없어
		PRINTL [1] 아직 가지고 있고 싶어
		INPUT
		IF RESULT == 0
			CALL DELETE_SEXYPANTS
			CLEARLINE 10
		ELSE
			CLEARLINE 8
		ENDIF
	ENDIF
CASE "セフレ系から恋慕系への陥落変化"
	FLAG:陥落路線変化 = !FLAG:陥落路線変化
CASE "相手からの告白"
	FLAG:告白禁止 = !FLAG:告白禁止
CASE "ターン毎のABLUP"
	FLAG:ABLUP省略 = !FLAG:ABLUP省略
CASE "イベントによる[無知]喪失"
	FLAG:無知自動喪失禁止 = !FLAG:無知自動喪失禁止
CASE "好意/理性の壁の表示"
	FLAG:好意理性短縮 = !FLAG:好意理性短縮
CASE "子供の描写"
	FLAG:子供描写 = !FLAG:子供描写
CASE "子供の性別"
	CALL オプション切り替え("子供の性別", 2)
CASE "パンツ収集状況表示"
	FLAG:パンツ収集状況タイプB = !FLAG:パンツ収集状況タイプB
CASE "ファーストキスの記録"
	CALL オプション切り替え("ＦＫ判定", 3)
CASE "遭遇時の依頼提示"
	FLAG:依頼スルー = !FLAG:依頼スルー
CASE "地図の表示タイプ"
	IF RECOLOREDMAPS
		IF ANIMATERECOLOREDMAPS
			RECOLOREDMAPS = 0
			ANIMATERECOLOREDMAPS = 0
		ELSE
			ANIMATERECOLOREDMAPS = 1000
		ENDIF
	ELSE
		RECOLOREDMAPS = 1
	ENDIF
CASE "キャラリストの表示順"
	FLAG:並び替え = !FLAG:並び替え
CASE "採集時の再抽選機能"
	FLAG:採集再抽選 = !FLAG:採集再抽選
CASE "日時天候による背景色推移"
	FLAG:背景色推移 = !FLAG:背景色推移
CASE "カウンターのお仕置き"
	CALL オプション切り替え("カウンター制裁", 2)
CASE "自動アナル開発許可"
	CALL オプション切り替え("アナル開発無効", 3)
CASE "日常行動中の風チラ発生"
	FLAG:風チラ発生 = !FLAG:風チラ発生
CASE "誤爆挿入の発生"
	FLAG:誤爆無効 = !FLAG:誤爆無効
ENDSELECT

@オプション切り替え(ARGS, ARG)
FLAG:ARGS ++
SIF FLAG:ARGS > ARG
	FLAG:ARGS = 0

@OPTION_オート喘ぎ一括設定
CALL ASK_M("없음",1,"모두 (천박함 없음)",1,"모두 (천박함 있음)",1, "취소",1)
IF INRANGE(RESULT, 0, 2)
	FOR LOCAL,1,CHARANUM
		CFLAG:LOCAL:オート喘ぎ = RESULT
	NEXT
	PRINTFORMW Batch setting completed.
ENDIF

@登場キャラ切り替え
PRINTL 　비활성화된 캐릭터들은 게임에 등장하지 않습니다. ("*" 를 가진 캐릭터는 구상이 있습니다)
DRAWLINE
SIF FLAG:並び替え
	CALL CHARASORT_EX
FOR LOCAL:1, 0, EX_CHARANUM
	IF FLAG:並び替え
		LOCAL = RESULT:(LOCAL:1)
		SIF LOCAL < 0
			CONTINUE
	ELSE
		LOCAL = LOCAL:1
		SIF LOCAL >= CHARANUM
			BREAK
	ENDIF
	SIF TALENT:LOCAL:行きずり
		CONTINUE
	SIF IsDead:LOCAL:0
		CONTINUE
	SIF CFLAG:LOCAL:出禁
		SETCOLOR C_D_RED
	RESULT = 0
	TRYCALLFORM M_KOJO_K{NO:LOCAL}
	PRINTFORMLC [{LOCAL, 3}] \@ RESULT ? * # \@%CALLNAME:LOCAL%
	RESETCOLOR
NEXT
PRINTL 　
DRAWLINE
PRINTFORML [999] 종료 (비활성화: {FLAG:出禁人数} \@ FLAG:出禁人数 != 1 ? 캐릭터 # 캐릭터 \@)　[998] 초기화  [900] 적은 구상 비활성화  [901] 남성 비활성화
$LOOP
INPUT
IF RESULT >= 0 && RESULT <= CHARANUM
	IF CFLAG:RESULT:出禁 && FLAG:なりきり != RESULT
		IF (DAY:0+StartingDay) < charaArrive:RESULT:0
			C = RESULT
			SETCOLOR C_RED
			PRINTFORML WARNING: %CALLNAME:C% is meant to arrive %PRINT_DATE_F(charaArrive:C:0-StartingDay+1,0)% (You are currently %PRINT_DATE_F(DAY,0)%)...
			PRINTFORML 이 캐릭터를 활성화 하면 설정에 오류가 생길 수 있습니다.
			RESETCOLOR
			PRINTL 설정 하시겠습니까?
			CALL ASK_YN ;custom code
			IF RESULT == 0
				CFLAG:C:出禁 = 0
				SIF CFLAG:C:現在位置 == CFLAG:C:初期位置 && CFLAG:C:睡眠
					LOCK:(CFLAG:C:初期位置) = 1
				FLAG:出禁人数 --
			ELSE
				CLEARLINE 7
				RESTART
			ENDIF
		ELSE
			CFLAG:RESULT:出禁 = 0
			SIF CFLAG:RESULT:現在位置 == CFLAG:RESULT:初期位置 && CFLAG:RESULT:睡眠
				LOCK:(CFLAG:RESULT:初期位置) = 1
			FLAG:出禁人数 --
		ENDIF
	ELSEIF TALENT:RESULT:行きずり || RESULT == MASTER
		PRINTFORMW %CALLNAME:RESULT% 캐릭터는 비활성화 할 수 없습니다.
		GOTO LOOP
	ELSEIF FLAG:なりきり == RESULT
		IF CFLAG:(FLAG:なりきり):出禁 == 1
			PRINTFORML %CALLNAME:RESULT% 는 이미 존재 하기 때문에, %HIM_HER(RESULT)%가 되면 세계에 두명의 %CALLNAME:RESULT%가 존재하게 됩니다...
			PRINTL 설정 하시겠습니까?
			CALL ASK_YN ;custom code
			IF RESULT == 0
				CFLAG:(FLAG:なりきり):出禁 = 0
				SIF CFLAG:(FLAG:なりきり):現在位置 == CFLAG:(FLAG:なりきり):初期位置 && CFLAG:(FLAG:なりきり):睡眠
					LOCK:(CFLAG:(FLAG:なりきり):初期位置) = 1
				FLAG:出禁人数 --
				PRINTFORMW %CALLNAME:(FLAG:なりきり)% 캐릭터가 활성화 되었습니다.
			ELSE
				GOTO LOOP
			ENDIF
		ELSE
			CFLAG:(FLAG:なりきり):出禁 = 1
			SIF LOCK:(CFLAG:(FLAG:なりきり):初期位置) && CFLAG:(FLAG:なりきり):初期位置 < 100
				LOCK:(CFLAG:(FLAG:なりきり):初期位置) = 0
			FLAG:出禁人数 ++
		ENDIF
	ELSE
		CFLAG:RESULT:出禁 = 1
		SIF LOCK:(CFLAG:RESULT:初期位置) && CFLAG:RESULT:初期位置 < 100
			LOCK:(CFLAG:RESULT:初期位置) = 0
		FLAG:出禁人数 ++
	ENDIF
	RESTART
ELSEIF RESULT == 999
	PRINTW 설정 적용됨.
ELSEIF RESULT == 900
	FOR LOCAL,1,CHARANUM
		SIF FLAG:なりきり == LOCAL
			CONTINUE
		SIF TALENT:LOCAL:行きずり
			CONTINUE
		SIF (TALENT:LOCAL:100 > -1 && !GROUPMATCH(LOCAL,3,30,38,49,60,84,86,89,100,107,108,114,120,122,123,136,139)) || GROUPMATCH(LOCAL,70)
			CONTINUE
		SIF !CFLAG:LOCAL:出禁
			FLAG:出禁人数 ++
		CFLAG:LOCAL:出禁 = 1
	NEXT
	RESTART
ELSEIF RESULT == 901
	FOR LOCAL,1,CHARANUM
		SIF FLAG:なりきり == LOCAL
			CONTINUE
		SIF TALENT:LOCAL:行きずり
			CONTINUE
		SIF !IS_MALE(LOCAL)
			CONTINUE
		SIF !CFLAG:LOCAL:出禁
			FLAG:出禁人数 ++
		CFLAG:LOCAL:出禁 = 1
	NEXT
	RESTART
ELSEIF RESULT == 998
	FOR LOCAL,1,CHARANUM
		SIF FLAG:なりきり == LOCAL
			CONTINUE
		SIF TALENT:LOCAL:行きずり
			CONTINUE
		CFLAG:LOCAL:出禁 = 0
	NEXT
	FLAG:出禁人数 = 0
	RESTART
ELSE
	GOTO LOOP
ENDIF

;簡易フィルタ制御関数
;仕様上の問題として、設定項目が増えすぎると設計をしなおす必要がある
@簡易フィルタ一括設定
#DIM OP_CFLAG_Ｖアンフィルタ
#DIM OP_CFLAG_Ａアンフィルタ
#DIM OP_CFLAG_UFilter
#DIM OP_CFLAG_ESFilter
#DIM OP_CFLAG_ＳＭアンフィルタ
#DIM OP_CFLAG_奉仕アンフィルタ
#DIM OP_CFLAG_セクハラアンフィルタ
#DIM OP_SETTING

;com custom code
#DIM OP_CFLAG_RevService
#DIM OP_CFLAG_RevSex
IF !LOCAL
	OP_CFLAG_Ｖアンフィルタ       = GETNUM(CFLAG, "Ｖアンフィルタ")
	OP_CFLAG_Ａアンフィルタ       = GETNUM(CFLAG, "Ａアンフィルタ")
	OP_CFLAG_UFilter		     = GETNUM(CFLAG, "UFilter")	
	OP_CFLAG_ESFilter		     = GETNUM(CFLAG, "EStimFilter")		
	OP_CFLAG_ＳＭアンフィルタ     = GETNUM(CFLAG, "ＳＭアンフィルタ")
	OP_CFLAG_奉仕アンフィルタ     = GETNUM(CFLAG, "奉仕アンフィルタ")
	OP_CFLAG_セクハラアンフィルタ = GETNUM(CFLAG, "セクハラアンフィルタ")
	
	;com custom code
	OP_CFLAG_RevService = GETNUM(CFLAG, "RevServiceFilter")
	OP_CFLAG_RevSex = GETNUM(CFLAG, "RevSexFilter")
	LOCAL ++
ENDIF
PRINTFORML ～ 간략 필터 설정 ～
PRINTFORML ※ 각각의 필터는 개별적으로 설정 가능 합니다.
PRINTFORML 
PRINTFORML [29] 모든 캐릭터들의 간략화 한 필터를 전부 끄기
PRINTFORML [28] 모든 캐릭터들의 [Ｖ] 필터를 전부 끄기 \@ CFLAG:Ｖアンフィルタ == 1 ? [Set] #  \@
PRINTFORML [27] 모든 캐릭터들의 [Ａ] 필터를 전부 끄기 \@ CFLAG:Ａアンフィルタ == 1 ? [Set] #  \@
PRINTFORML [22] 모든 캐릭터들의 [Ｕ] 필터를 전부 끄기 \@ CFLAG:UFilter == 1 ? [Set] #  \@
PRINTFORML [26] 모든 캐릭터들의 [ＳＭ] 필터를 전부 끄기 \@ CFLAG:ＳＭアンフィルタ == 1 ? [Set] #  \@
PRINTFORML [21] 모든 캐릭터들의 [ＥＳ] 필터를 전부 끄기 \@ CFLAG:EStimFilter == 1 ? [Set] #  \@
PRINTFORML [25] 모든 캐릭터들의 [봉사] 필터를 전부 끄기 \@ CFLAG:奉仕アンフィルタ == 1 ? [Set] #  \@
PRINTFORML [24] 모든 캐릭터들의 [전희] 필터를 전부 끄기 \@ CFLAG:セクハラアンフィルタ == 1 ? [Set] #  \@
PRINTFORML [23] 모든 캐릭터들의 [가사] 필터를 전부 끄기 \@ FLAG:家事アンフィルタ == 1 ? [Set] #  \@
;com custom code
PRINTFORML [22] 모든 캐릭터들의 [상대주도 봉사] 필터를 전부 끄기 \@ CFLAG:RevServiceFilter == 1 ? [Set] #  \@
PRINTFORML [21] 모든 캐릭터들의 [상대주도 섹스] 필터를 전부 끄기 \@ CFLAG:RevSexFilter == 1 ? [Set] #  \@
PRINTFORML 
PRINTFORML [19] 모든 캐릭터들의 간략화 한 필터를 전부 켜기
PRINTFORML [18] 모든 캐릭터들의 [Ｖ] 필터를 전부 켜기 \@ CFLAG:Ｖアンフィルタ == 0 ? [Set] #  \@
PRINTFORML [17] 모든 캐릭터들의 [Ａ] 필터를 전부 켜기 \@ CFLAG:Ａアンフィルタ == 0 ? [Set] #  \@
PRINTFORML [12] 모든 캐릭터들의 [Ｕ] 필터를 전부 켜기 \@ CFLAG:UFilter == 0 ? [Set] #  \@
PRINTFORML [16] 모든 캐릭터들의 [ＳＭ] 필터를 전부 켜기 \@ CFLAG:ＳＭアンフィルタ == 0 ? [Set] #  \@
PRINTFORML [11] 모든 캐릭터들의 [ＥＳ] 필터를 전부 켜기 \@ CFLAG:EStimFilter == 0 ? [Set] #  \@
PRINTFORML [15] 모든 캐릭터들의 [봉사] 필터를 전부 켜기 \@ CFLAG:奉仕アンフィルタ == 0 ? [Set] #  \@
PRINTFORML [14] 모든 캐릭터들의 [전희] 필터를 전부 켜기 \@ CFLAG:セクハラアンフィルタ == 0 ? [Set] #  \@
PRINTFORML [13] 모든 캐릭터들의 [가사] 필터를 전부 켜기 \@ FLAG:家事アンフィルタ == 0 ? [Set] #  \@
;com custom code
PRINTFORML [12] 모든 캐릭터들의 [상대주도 봉사] 필터를 전부 켜기 \@ CFLAG:RevServiceFilter == 0 ? [Set] #  \@
PRINTFORML [11] 모든 캐릭터들의 [상대주도 섹스] 필터를 전부 켜기 \@ CFLAG:RevSexFilter == 0 ? [Set] #  \@
PRINTFORML 
PRINTFORML [99] 종료
DO
	INPUT
	OP_SETTING = (RESULT / 10) - 1
	;20で1、10で0
	SELECTCASE RESULT
	;com custom code
	CASE 22, 12
		CVARSET CFLAG, OP_CFLAG_RevService, OP_SETTING
		IF OP_SETTING
			PRINTFORMW 모든 캐릭터들의 [상대주도 봉사] 필터가 전부 꺼졌습니다.
		ELSE
			PRINTFORMW 모든 캐릭터들의 [상대주도 봉사] 필터가 전부 켜졌습니다.
		ENDIF
	CASE 21, 11
		CVARSET CFLAG, OP_CFLAG_RevSex, OP_SETTING
		IF OP_SETTING
			PRINTFORMW 모든 캐릭터들의 [상대주도 섹스] 필터가 전부 꺼졌습니다.
		ELSE
			PRINTFORMW 모든 캐릭터들의 [상대주도 섹스] 필터가 전부 켜졌습니다.
		ENDIF
	
	CASE 29, 19
		CVARSET CFLAG, OP_CFLAG_Ｖアンフィルタ, OP_SETTING
		CVARSET CFLAG, OP_CFLAG_Ａアンフィルタ, OP_SETTING
		CVARSET CFLAG, OP_CFLAG_UFilter, OP_SETTING		
		CVARSET CFLAG, OP_CFLAG_ＳＭアンフィルタ, OP_SETTING
		CVARSET CFLAG, OP_CFLAG_ESFilter, OP_SETTING		
		CVARSET CFLAG, OP_CFLAG_奉仕アンフィルタ, OP_SETTING
		CVARSET CFLAG, OP_CFLAG_セクハラアンフィルタ, OP_SETTING
		FLAG:家事アンフィルタ = OP_SETTING
		
		;com custom code
		CVARSET CFLAG, OP_CFLAG_RevService, OP_SETTING
		CVARSET CFLAG, OP_CFLAG_RevSex, OP_SETTING
		IF OP_SETTING
			PRINTFORMW 모든 캐릭터들의 간략화 한 필터가 전부 꺼졌습니다
		ELSE
			PRINTFORMW 모든 캐릭터들의 간략화 한 필터가 전부 켜졌습니다
		ENDIF
	CASE 28, 18
		CVARSET CFLAG, OP_CFLAG_Ｖアンフィルタ, OP_SETTING
		IF OP_SETTING
			PRINTFORMW 모든 캐릭터들의 [Ｖ] 필터가 전부 꺼졌습니다
		ELSE
			PRINTFORMW 모든 캐릭터들의 [Ｖ] 필터가 전부 켜졌습니다
		ENDIF
	CASE 27, 17
		CVARSET CFLAG, OP_CFLAG_Ａアンフィルタ, OP_SETTING
		IF OP_SETTING
			PRINTFORMW 모든 캐릭터들의 [Ａ] 필터가 전부 꺼졌습니다
		ELSE
			PRINTFORMW 모든 캐릭터들의 [Ａ] 필터가 전부 켜졌습니다
		ENDIF
	CASE 26, 16
		CVARSET CFLAG, OP_CFLAG_ＳＭアンフィルタ, OP_SETTING
		IF OP_SETTING
			PRINTFORMW 모든 캐릭터들의 [ＳＭ] 필터가 전부 꺼졌습니다
		ELSE
			PRINTFORMW 모든 캐릭터들의 [ＳＭ] 필터가 전부 켜졌습니다
		ENDIF
	CASE 25, 15
		CVARSET CFLAG, OP_CFLAG_奉仕アンフィルタ, OP_SETTING
		IF OP_SETTING
			PRINTFORMW 모든 캐릭터들의 [봉사] 필터가 전부 꺼졌습니다
		ELSE
			PRINTFORMW 모든 캐릭터들의 [봉사] 필터가 전부 켜졌습니다
		ENDIF
	CASE 24, 14
		CVARSET CFLAG, OP_CFLAG_セクハラアンフィルタ, OP_SETTING
		IF OP_SETTING
			PRINTFORMW 모든 캐릭터들의 [전희] 필터가 전부 꺼졌습니다
		ELSE
			PRINTFORMW 모든 캐릭터들의 [전희] 필터가 전부 켜졌습니다
		ENDIF
	CASE 23, 13
		FLAG:家事アンフィルタ = OP_SETTING
		IF OP_SETTING
			PRINTFORMW 모든 캐릭터들의 [가사] 필터가 전부 꺼졌습니다
		ELSE
			PRINTFORMW 모든 캐릭터들의 [가사] 필터가 전부 켜졌습니다
		ENDIF
	CASE 22,12
		CVARSET CFLAG, OP_CFLAG_UFilter, OP_SETTING
		IF OP_SETTING
			PRINTFORMW 모든 캐릭터들의 [Ｕ] 필터가 전부 꺼졌습니다
		ELSE
			PRINTFORMW 모든 캐릭터들의 [Ｕ] 필터가 전부 켜졌습니다
		ENDIF	
	CASE 21,11
		CVARSET CFLAG, OP_CFLAG_ESFilter, OP_SETTING
		IF OP_SETTING
			PRINTFORMW 모든 캐릭터들의 [ＥＳ] 필터가 전부 꺼졌습니다
		ELSE
			PRINTFORMW 모든 캐릭터들의 [ＥＳ] 필터가 전부 켜졌습니다
		ENDIF				
	CASE 99
		PRINTFORMW 간소화 필터 세팅 완료
		RETURN
	CASEELSE
		PRINTFORML Invalid Input
		CONTINUE
	ENDSELECT
	BREAK
LOOP 1
RESTART

;---------------------------------------------------------------
;	画像詳細設定
;	設定が増えたので新設
;---------------------------------------------------------------
@OPTION_画像表示詳細設定
#DIM nLineCnt_Head ;custom code for correct clearline
nLineCnt_Head = LINECOUNT
REDRAW 0
DO ;no spacing for inside the loop to make merging easier

SIF LINECOUNT - nLineCnt_Head > 0
	CLEARLINE LINECOUNT - nLineCnt_Head
FOR LOCAL, 0, 30
	SIF !RANDOM_CHARANUM:LOCAL
	CALL SpawnMobEnemy(FREE_MOB_SLOT(),RAND(0,51))
NEXT
CALL FISHER_YATES_SHAFFLE(CHARANUM)
TARGET = SHAFFLE_ARRAY:1
FOR LOCAL, 1, 11
	TARGET:LOCAL = SHAFFLE_ARRAY:LOCAL
NEXT
PRINTL ▼Preview▼
CALL PRINT_TARGET_IMAGE(TARGET)
PRINTL 
PRINTFORML [ 0] - 화상 표시: \@ FLAG:画像表示 ? 네 # 아니오 \@
IF FLAG:画像表示
	PRINTFORML [ *]┬ 현재 화상 표시 인원 {FLAG:画像表示} 명의 \@ FLAG:立ち絵種類 ? 얼굴 # 전신 \@ 화상을 표시
	PRINTFORML [ 1]├ 늘린다
	PRINTFORML [ 2]└ 줄인다
	PRINTFORML [ 3] - 캐릭터 화상 종류 \@ FLAG:立ち絵種類 ? [얼굴] # [전신] \@
	PRINTFORML [ 4]┬ 화상 크기: [\@ FLAG:マルチサイズ? 원본크기 # {デフォルトキャラ画像横幅} \@]：{100 + isModifier}％
	PRINTFORML [ 5]├ 확대
	PRINTFORML [ 6]└ 축소
	PRINTFORML [ 7] - \@ FLAG:立ち絵種類 ? 얼굴 # 전신 \@ 화상을 [\@ FLAG:画像表示位置 ? 왼쪽 # 중앙 \@에 맞춤]
	PRINTFORML [ 8] - 화상에 테두리 표시 \@ FLAG:画像枠表示 ? ON # OFF \@
	PRINTFORML [ 9] - \@ FLAG:巨乳差分表示? 캐릭터의 가슴크기가 일정 이상이라면 화상으로 표현 한다 # 화상으로 다양한 가슴크기 표현을 하지 않는다\@
	PRINTFORML [10] - \@ FLAG:追加エフェクト? 추가 효과를 표시 한다 # 추가 효과를 숨긴다\@
	PRINTFORML [11] - 취침후: \@ FLAG:自慰画像非表示? 자위 화상을 표시하지 않는다 # 자위 화상을 표시한다\@
	PRINTFORML [12] - 얼굴 화상이 첨부된 메시지를 표시 한다 \@ 顔絵付きメッセージ ? 네 # 아니오\@
	PRINTL 
	PRINTFORML [13]\@ FLAG:挿絵表示 ? ┬ # %" "%- \@ 애니메이션 \@ FLAG:挿絵表示 ? ON # OFF \@
	IF FLAG:挿絵表示
		PRINT [14]└ 사정 화상 타입
		SELECTCASE FLAG:射精画像種類
			CASE 0
			PRINTL  [단면＋효과음]
			CASE 1
			PRINTL  [단면만]
			CASE 2
			PRINTL  [효과음만]
		ENDSELECT
	ELSE
		PRINTL 
	ENDIF
	PRINTFORML [15]\@ FLAG:アニメーション ? ┬ # %" "%- \@ 애니메이션 반복 \@ FLAG:アニメーション ? {FLAG:アニメーション} 회 # OFF \@
	IF FLAG:アニメーション
		PRINTFORML [16]└ 매번 삽입 애니메이션 표시：\@FLAG:挿入アニメフィルタ & アニメフィルタ_挿入 ? ON # OFF\@
	ELSE
		PRINTL 
	ENDIF
ELSE
	FOR LOCAL, 1, 13
		PRINTL 
	NEXT
ENDIF
PRINTFORML [999] - 종료
INPUT
IF RESULT == 999
	CALLF KILL_ALL_MOBS
	VARSET TARGET
	RETURN 0
ELSEIF RESULT == 0
	SIF FLAG:画像表示 ;qol custom code, store previous value if it's going to be disabled
		nStoreImageCount = FLAG:画像表示
		
	FLAG:画像表示 = !FLAG:画像表示
	
	SIF FLAG:画像表示 && nStoreImageCount > 0 ;qol custom code, restore previous value if enabled
		FLAG:画像表示 = nStoreImageCount
ELSEIF RESULT == 1
	FLAG:画像表示++
	SIF FLAG:画像表示 > 10
		FLAG:画像表示 = 10
ELSEIF RESULT == 2
	FLAG:画像表示--
	SIF FLAG:画像表示 < 1
		FLAG:画像表示 = 1
ELSEIF RESULT == 3
	FLAG:立ち絵種類 = !FLAG:立ち絵種類
ELSEIF RESULT == 4
	IF FLAG:マルチサイズ
		FLAG:マルチサイズ = !FLAG:マルチサイズ
		デフォルトキャラ画像横幅 = 180
	ELSEIF デフォルトキャラ画像横幅 == 180
		デフォルトキャラ画像横幅 = 270
	ELSEIF デフォルトキャラ画像横幅 == 270
		デフォルトキャラ画像横幅 = 360
	ELSEIF デフォルトキャラ画像横幅 == 360
		デフォルトキャラ画像横幅 = 540
	ELSEIF デフォルトキャラ画像横幅 == 540
		デフォルトキャラ画像横幅 = 720
	ELSE
		FLAG:マルチサイズ = !FLAG:マルチサイズ
	ENDIF
ELSEIF RESULT == 5
	isModifier = MIN(isModifier + 10, 50)
ELSEIF RESULT == 6
	isModifier = MAX(isModifier - 10, -50)
ELSEIF RESULT == 7
	FLAG:画像表示位置 = !FLAG:画像表示位置
ELSEIF RESULT == 8
	FLAG:画像枠表示 = !FLAG:画像枠表示
ELSEIF RESULT == 9
	FLAG:巨乳差分表示 = !FLAG:巨乳差分表示
ELSEIF RESULT == 10
	FLAG:追加エフェクト = !FLAG:追加エフェクト
ELSEIF RESULT == 11
	FLAG:自慰画像非表示 = !FLAG:自慰画像非表示
ELSEIF RESULT == 12
	INVERTBIT 顔絵付きメッセージ, 0
ELSEIF RESULT == 13
	FLAG:挿絵表示 = !FLAG:挿絵表示
ELSEIF RESULT == 14 && FLAG:挿絵表示
	FLAG:射精画像種類++
	SIF FLAG:射精画像種類 >= 3
		FLAG:射精画像種類 = 0
ELSEIF RESULT == 15
	FLAG:アニメーション++
	SIF FLAG:アニメーション >= 6
		FLAG:アニメーション = 0
ELSEIF RESULT == 16
	INVERTBIT FLAG:挿入アニメフィルタ, 0
	;CALL ASK_M("挿入表示切替",1,"絶頂表示切替",1,"射精表示切替",1,"射精表示切替",1,"戻る",1)
	;SIF RESULT == 4
	;	RESTART
	;INVERTBIT FLAG:挿入アニメフィルタ, RESULT
	RESTART
ENDIF
LOOP 1

;カウンター行動フィルタ
@OPTION_COUNTER_FILTER
#DIM CCOM_ID
#DIM L_FEED
#DIM TEMP
TEMP = CURRENTREDRAW()
REDRAW 0
LOADGLOBAL
CALL COLORMESSAGE, "※ 너무 많은 필터를 켜면 버그가 생길 수 있습니다 ※", C_YELLOW, 2
DRAWLINE
DO
	L_FEED = LINECOUNT
	FOR CCOM_ID, 0, CCOM_MAXNUM
		SIF STR:(4000 + CCOM_ID) == ""
			CONTINUE
		CALL PRINTBUTTON_EXC(@"%STR_TR(4000 + CCOM_ID)%[{CCOM_ID,3}]", CCOM_ID, CCOM_FILTER:CCOM_ID)
	NEXT
	PRINTL 
	DRAWLINE
	PRINTL [500] - 모두 끄기
	PRINTL [501] - 초기화
	PRINTL 
	PRINTL [999] - 종료
	INPUT
	SELECTCASE RESULT
	CASE 0 TO CCOM_MAXNUM
		SIF STR:(4000 + RESULT) != ""
			CCOM_FILTER:RESULT = !(CCOM_FILTER:RESULT)
	CASE 500, 501
		VARSET CCOM_FILTER, (RESULT == 500)
	CASE 999
		SAVEGLOBAL
		REDRAW TEMP
		RETURN
	ENDSELECT
	CLEARLINE LINECOUNT - L_FEED
LOOP 1

[SKIPSTART]
;;料理オプション設定関数
;;0:手動決定,1:異物不可,2:薬物不可
;@SET_OPTION_COOKING
;#DIM CONST OP_BIT_手動決定 = 0
;#DIM CONST OP_BIT_異物不可 = 1
;#DIM CONST OP_BIT_薬物不可 = 2
;#DIM CONST OP_BIT_採点オン = 3
;PRINTFORML 料理関連のオプションを設定します
;PRINTFORML 現在の設定
;IF GET_OPTION_COOKING("料理内容手動決定")
;	PRINTFORML 　料理内容：手動で決定
;ELSE
;	PRINTFORML 　料理内容：自動で決定
;ENDIF
;IF GET_OPTION_COOKING("異物混入不可")
;	PRINTFORML 　異物混入：しない
;ELSE
;	PRINTFORML 　異物混入：する
;ENDIF
;IF GET_OPTION_COOKING("薬物混入不可")
;	PRINTFORML 　薬物混入：しない
;ELSE
;	PRINTFORML 　薬物混入：する
;ENDIF
;SELECTCASE GET_OPTION_COOKING("自動味付け設定")
;CASE 0
;	PRINTFORML 　自動味付：しない
;CASE 10
;	PRINTFORML 　自動味付：自動で普通の味
;CASE 11
;	PRINTFORML 　自動味付：自動で濃い味
;CASE 12
;	PRINTFORML 　自動味付：自動で薄味
;ENDSELECT
;IF GET_OPTION_COOKING("採点機能オフ")
;	PRINTFORML 　採点機能：オフ
;ELSE
;	PRINTFORML 　採点機能：オン
;ENDIF
;DO
;	PRINTFORML [9] 料理内容の設定変更
;	PRINTFORML [8] 異物混入の設定変更
;	PRINTFORML [7] 薬物混入の設定変更
;	PRINTFORML [6] 自動味付の設定変更
;	PRINTFORML [5] 採点機能の設定変更
;	PRINTFORML 
;	PRINTFORML 
;	PRINTFORML [0] 決定
;	INPUT
;	SELECTCASE RESULT
;	CASE 9
;		INVERTBIT FLAG:料理オプション, OP_BIT_手動決定
;	CASE 8
;		INVERTBIT FLAG:料理オプション, OP_BIT_異物不可
;	CASE 7
;		INVERTBIT FLAG:料理オプション, OP_BIT_薬物不可
;	CASE 6
;		PRINTFORML 自動味付け機能の設定
;		PRINTFORML [12] 自動味付け＜薄味＞
;		PRINTFORML [11] 自動味付け＜濃い味＞
;		PRINTFORML [10] 自動味付け＜普通の味＞
;		PRINTFORML [ 0] 自動味付けを使わない
;		DO
;			INPUT
;			SELECTCASE RESULT
;			CASE 10, 11, 12
;				CLEARBIT FLAG:料理オプション, 10, 11, 12
;				SETBIT   FLAG:料理オプション, RESULT
;			CASE 0
;				CLEARBIT FLAG:料理オプション, 10, 11, 12
;			CASEELSE
;			PRINTFORML 無効な入力です
;			CONTINUE
;			ENDSELECT
;			BREAK
;		LOOP 1
;	CASE 5
;		INVERTBIT FLAG:料理オプション, OP_BIT_採点オン
;	CASE 0
;		RETURN 
;	CASEELSE
;		PRINTFORML 無効な入力です
;		CONTINUE
;	ENDSELECT
;	BREAK
;LOOP 1
;RESTART
;
;
;;料理オプションの内容取得関数
;@GET_OPTION_COOKING(TYPE)
;#FUNCTION
;#DIMS DYNAMIC TYPE
;#DIM CONST OP_BIT_手動決定 = 0
;#DIM CONST OP_BIT_異物混入不可 = 1
;#DIM CONST OP_BIT_薬物混入不可 = 2
;#DIM CONST OP_BIT_採点機能オン = 3
;#DIM CONST OP_BIT_自動味付け_普通 = 10
;#DIM CONST OP_BIT_自動味付け_濃い = 11
;#DIM CONST OP_BIT_自動味付け_薄い = 12
;SELECTCASE TYPE
;CASE "料理内容手動決定"
;	SIF GETBIT(FLAG:料理オプション, OP_BIT_手動決定)
;		RETURNF 1
;CASE "料理内容自動決定"
;	RETURNF !GET_OPTION_COOKING("料理内容手動決定")
;
;CASE "異物混入不可"
;	SIF GETBIT(FLAG:料理オプション, OP_BIT_異物混入不可)
;		RETURNF 1
;CASE "異物混入可能"
;	RETURNF !GET_OPTION_COOKING("異物混入不可")
;
;CASE "薬物混入不可"
;	SIF GETBIT(FLAG:料理オプション, OP_BIT_薬物混入不可)
;		RETURNF 1
;CASE "薬物混入可能"
;	RETURNF !GET_OPTION_COOKING("薬物混入不可")
;CASE "自動味付け設定"
;	SIF GETBIT(FLAG:料理オプション, OP_BIT_自動味付け_普通)
;		RETURNF OP_BIT_自動味付け_普通
;	SIF GETBIT(FLAG:料理オプション, OP_BIT_自動味付け_濃い)
;		RETURNF OP_BIT_自動味付け_濃い
;	SIF GETBIT(FLAG:料理オプション, OP_BIT_自動味付け_薄い)
;		RETURNF OP_BIT_自動味付け_薄い
;CASE "採点機能オン"
;	SIF GETBIT(FLAG:料理オプション, OP_BIT_採点機能オン)
;		RETURNF 1
;CASE "採点機能オフ"
;	RETURNF !GET_OPTION_COOKING("採点機能オン")
;CASEELSE
;	THROW 不明なTYPE%TYPE%
;ENDSELECT
;RETURNF 0
[SKIPEND]


@SIMATTYAUOJISAN
;TW414_移動パッチにて右クリックやマクロによるスキップもしまっちゃうように修正
;PRINTでのウェイトをなくすかわりにFORCEWAITでスキップ解除するように
;
;custom code - updated, translated because there's still a way to trigger this
FORCEWAIT
PRINT 「Is the child who manually typed numbers that aren't displayed on the screen still here?」
FORCEWAIT
PRINTFORML [0] - 「It wasn't me!」
TINPUT 5000, 999
SIF !RESULT
	RETURN
PRINT Shimatchau Oji-san has appeared!
FORCEWAIT
PRINT 「Let's see, the child who manually typed in numbers that aren't on the screen, I'll put aaall of your money away first.」
FORCEWAIT
PRINTFORM Shimatchau Oji-san has put away all the money you had!
MONEY = 0
MONEY:2 = 0
FORCEWAIT
PRINT 「The child who manually typed in numbers that aren't on the screen doesn't need items anymore, so I'll put them away too.」
FORCEWAIT
PRINTFORM All of your items have been put away!
FOR LOCAL,0,1000
	ITEM:LOCAL = 0
NEXT
FORCEWAIT
PRINT 「The child who manually typed in numbers that aren't on the screen doesn't need skills anymore, so I'll put them away too.」
FORCEWAIT
PRINTFORM All of your skills have been put away!
FORCEWAIT
FOR LOCAL,0,100
	ABL:0:LOCAL = 0
NEXT
FOR LOCAL,46,51
	TALENT:0:LOCAL = 0
NEXT
PRINT 「The child who manually typed in numbers that aren't on the screen doesn't need experience anymore, so I'll put it away too.」
FORCEWAIT
PRINTFORM All of your experiences have been put away!
FORCEWAIT
FOR LOCAL,0,100
	EXP:0:LOCAL = 0
NEXT
;せっかくだしコレクションもしまっちゃいましょう（eraTW4.15パンツ対策パッチにて追加）
;
PRINTFORM 「The child who manually typed in numbers that aren't on the screen doesn't need %HIS_HER(MASTER)% \@ nOmutsu ? diaper # panty \@ collection anymore, so I'll put it away too.」
FORCEWAIT
PRINTFORM %PARSE("Your")% precious beautiful panty\@ nOmutsu ? %" and diaper"% #\@ collection that %PARSE("you",1)% had painstakingly collected has been put away!
FORCEWAIT
FLAG:700 = 0
FOR LOCAL,1,CHARANUM
	FOR LOCAL:1,0,MAXPANTS
		CFLAG:LOCAL:(LOCAL:1 + パンツ管理) = 0
	NEXT
NEXT
PRINT 「The child who manually typed in numbers that aren't on the screen isn't all that trustworthy anymore, so I'll put it away too.」
FORCEWAIT
PRINTFORM Your Trust among the girls has been put away!
FOR LOCAL,1,CHARANUM
	CFLAG:LOCAL:信頼度 = 0
NEXT
FORCEWAIT
PRINT 「The child who manually typed in numbers that aren't on the screen doesn't deserve to orgasm, so I'll put it away too.」
FORCEWAIT
PRINTFORM %PARSE("Your")% ability to orgasm has been put away!
OrgasmDenyExp:MASTER:0 = (PALAMLV:15)
OrgasmDeny:MASTER:0 = 6
CALLF SILENT_ENDURANCECHANGE(MASTER)
FORCEWAIT
PRINT 「The child who manually typed in numbers that aren't on the screen doesn't deserve to go to the potty, so I'll put it away too.」
FORCEWAIT
PRINTFORM %PARSE("Your")% urinary and bowel continence has been put away!
PeeHoldExp:MASTER:0 = -(PALAMLV:15)
PeeHold:MASTER:0 = -5
PooHoldExp:MASTER:0 = -(PALAMLV:15)
PooHold:MASTER:0 = -5
CALLF SILENT_ENDURANCECHANGE(MASTER)
FORCEWAIT

[SKIPSTART]
PRINT 「The child who manually typed in numbers that aren't on the screen doesn't need stamina or energy, so I'll put it away too.」
FORCEWAIT
PRINTFORM All of %PARSE("your")% base stats have been put away!
FORCEWAIT
FOR LOCAL,0,9
	MAXBASE:0:LOCAL = 99
	BASE:0:LOCAL = min(MAXBASE:0:LOCAL,BASE:0:LOCAL)
NEXT
[SKIPEND]
;さすがにやり過ぎは良くないと思ったのでクリック連打で許してみた
;作者様へ　勝手に当てたパッチですので不愉快でしたらこの部分だけパッチ前に戻してくださって構いません。
;
;
;FORCEWAIT
PRINT 「The child who manually typed in numbers that aren't on the screen doesn't need to live, so I'll put it away too.」
FORCEWAIT
PRINTW I'm soooooooooo screwed～～～!!!
CALL SET_HISTORY_DEATH(MASTER,-1,"Shimachau")


;セクシーパンツ削除
@DELETE_SEXYPANTS
#DIM 対象
#DIM 種類
#DIM 所有数

VARSET RESULT

FOR 対象,1,CHARANUM
	FOR 種類,20,26
		所有数 = CFLAG:対象:(種類 + 100)
		IF 所有数 >= 1
			RESULT:0 += (所有数)
			CFLAG:対象:(種類 + 100) = 0
		ENDIF
	NEXT
NEXT

;バイブパンツ削除
@DELETE_VIBEPANTS
#DIM 対象
#DIM 種類
#DIM 所有数

VARSET RESULT

FOR 対象,1,CHARANUM
	FOR 種類,27,30
		所有数 = CFLAG:対象:(種類 + 100)
		IF 所有数 >= 1
			RESULT:0 += (所有数)
			CFLAG:対象:(種類 + 100) = 0
		ENDIF
	NEXT
NEXT

